{% include "cabecera.html" %}
<div class="preguntas">

{{ datos_paginacion|paginar }}

<table width="100%">
{% for enlace in enlaces %}
    <tr>
    <td class="avatar">{{ enlace.autor.email|avatar:40 }}</td>
    <td>
    <div class="info_respuesta_up">
        &nbsp; {{ enlace.autor|autor }} |
        {{ enlace.fecha|timesince|traducir }} |
        {{ enlace.clicks }} clics
    </div>
    <div class="respuesta">
        {% if enlace.tipo_enlace == 'imagen' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/photo.png" alt="imagen"/></a>
        {% endif %}
        {% if enlace.tipo_enlace == 'youtube' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endif %}
        {% if enlace.tipo_enlace == 'vimeo' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endif %}
        {% if enlace.tipo_enlace == 'vhtml5' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endif %}
        {{ enlace.descripcion|safe|urlize }}
        - <a href="/e/{{ enlace.key }}" target="_Blank">{{ enlace.url|slice:"7:37" }}</a>
    </div>
    <div class="info_respuesta_down"></div>
    </td>
    <td class="col_info_mix">
        {% if enlace.comentarios %}
            <a class="comentarios" href="/story/{{ enlace.key }}" title="comentarios">{{ enlace.comentarios }}</a>
        {% else %}
            <a class="no-comentarios" href="/story/{{ enlace.key }}" title="comentarios">{{ enlace.comentarios }}</a>
        {% endif %}
    </td>
    </tr>
{% empty %}
    <div class="mensaje">Sin resultados.</div>
{% endfor %}
</table>

{{ datos_paginacion|paginar }}

{% if stats %}
    <hr/>
    {{ stats|show_stats }}
{% endif %}

</div>
{% include "pie.html" %}
