{% include "cabecera.html" %}

<div class="preguntas">
<table>
<tr>
<td class="avatar"><br/><br/>{{ usuario.email|avatar:40 }}</td>
<td valign="top">
    <a name="nuevo-enlace"></a>
    <div class="formulario">
    <div class="titulo">Compartir enlace:</div>
    <form name="enlace" action="/add_e" method="post">
        <input id="titulo" type="text" name="url" value="http://" size="70" maxlength="200" title="Escribe la url de la noticia, im&aacute;gen, v&iacute;deo o blog que quieras compartir"/>
        <br/>
        <textarea name="descripcion" rows="4" cols="60">Descripcion (450 caracteres max.)</textarea>
        <br/>{{ captcha }}
    {% if formulario %}
        <input type="checkbox" name="anonimo"/>An&oacute;nimo
    {% endif %}
        <input type="button" class="boton" name="enviar" value="enviar" onclick="enviar_enlace()"/>
    </form>
    </div>
</td>
<td valign="top">
<br/>
<b>Comparte:</b><br/>
- Una noticia, un art&iacute;culo o un blog.<br/>
- Un v&iacute;deo de <a href="http://www.youtube.com" target="_Blank">youtube</a>, <a href="http://www.vimeo.com" target="_Blank">vimeo</a> o incluso v&iacute;deos en formato OGM o WEB.<br/>
- Una imagen o una captura de pantalla, puedes usar el servicio <a href="http://www.imgur.com" target="_Blank">imgur</a> para mayor comodidad.
</td>
</tr>


{% if enlaces %}
    {% for enlace in enlaces %}
    <tr>
    <td class="avatar">{{ enlace.autor.email|avatar:40 }}</td>
    <td>
    <div class="respuesta">
        {{ enlace.descripcion|urlize }}
        - <a href="/e/{{ enlace.key }}">{{ enlace.url|slice:":37" }}</a>
    </div>
    <div class="info_respuesta_down">
        {{ enlace.clicks }} clicks |
        {{ enlace.creado|date:"d/m/Y H:i" }} |
    {% if enlace.autor %}
        <a href="/u/{{ enlace.autor.email|urlencode }}">{{ enlace.autor.nickname|cortamail }}</a>
        {{ enlace.puntos }}
    {% else %}
        an&oacute;nimo
    {% endif %}
    </div>
    </td>
    <td width="250" valign="top">
    {% ifequal enlace.tipo_enlace 'imagen' %}
        <a href="/images"><img src="/img/photo.png" alt="imagen"/></a>
    {% endifequal %}
    {% ifequal enlace.tipo_enlace 'youtube' %}
        <img src="/img/video.png" alt="v&iacute;deo"/>
    {% endifequal %}
    {% ifequal enlace.tipo_enlace 'vimeo' %}
        <img src="/img/video.png" alt="v&iacute;deo"/>
    {% endifequal %}
    {% ifequal enlace.tipo_enlace 'vhtml5' %}
        <img src="/img/video.png" alt="v&iacute;deo"/>
    {% endifequal %}
    
    {% if enlace.comentarios %}
        <a href="/story/{{ enlace.key }}"><img src="/img/comments.png" alt="comentarios" title="deja un comentario"/></a>
        {{ enlace.comentarios }}
    {% else %}
        <a href="/story/{{ enlace.key }}"><img src="/img/comment.png" alt="comentarios" title="deja un comentario"/></a>
    {% endif %}
    </td>
    </tr>
    {% endfor %}
{% else %}
    <tr><td></td><td><div class="mensaje">sin resultados.</div></td></tr>
{% endif %}

{% ifnotequal paginas 1 %}
<tr>
<td></td>
<td colspan="2">
    <div class="paginacion">
        <span>P&aacute;ginas:</span>
    {% for pag in rango_paginas %}
        {% ifequal pag pag_actual %}
            <span id="actual"><a href="/actualidad/{{pag}}">{{pag}}</a></span>
        {% else %}
            <span><a href="/actualidad/{{pag}}">{{pag}}</a></span>
        {% endifequal %}
    {% endfor %}
    </div>
</td>
</tr>
{% endifnotequal %}

</table>
</div>

{% include "pie.html" %}
