{% include "cabecera.html" %}
<div class="preguntas">

{{ datos_paginacion|paginar }}

<table width='100%'>
{% for enlace in enlaces %}
    <tr>
    <td class="avatar">{{ enlace.autor.email|avatar:40 }}</td>
    <td>
    <div class="respuesta">
        {% if enlace.tipo_enlace == 'imagen' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/photo.png" alt="imagen"/></a>
        {% endif %}
        {% if enlace.tipo_enlace == 'youtube' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endif %}
        {% if enlace.tipo_enlace == 'vimeo' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endif %}
        {% if enlace.tipo_enlace == 'vhtml5' %}
            <a href="/story/{{ enlace.key }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endif %}
        {{ enlace.descripcion|safe|urlize }}
        - <a href="/e/{{ enlace.key }}" target="_Blank">{{ enlace.url|slice:"7:37" }}</a>
    </div>
    <div class="info_respuesta_down">
        {{ enlace.fecha|timesince|traducir }} |
        {{ enlace.creado|date:"d/m/Y H:i" }} |
        {{ enlace.clicks }} clics |
        {{ enlace.autor|autor }}
    </div>
    </td>
    <td class="col_info_mix">
        {% if enlace.comentarios %}
            <a class="comentarios" href="/story/{{ enlace.key }}" title="comentarios">{{ enlace.comentarios }}</a>
        {% else %}
            <a class="no-comentarios" href="/story/{{ enlace.key }}" title="comentarios">{{ enlace.comentarios }}</a>
        {% endif %}
    </td>
    </tr>
{% empty %}
    <div class="mensaje">Sin resultados.</div>
{% endfor %}
</table>

{{ datos_paginacion|paginar }}

{% if stats %}
<hr/>
<table width="100%">
<tr>
    <td>
    <ul>
        <li>Preguntas: {{ stats.preguntas }}</li>
        <ul>
        <li>Clics en preguntas: {{ stats.clics_p }}</li>
        <li>Clics por pregunta: {{ stats.clics_pp }}</li>
        <li>Respuestas: {{ stats.respuestas }}</li>
        <li>Respuestas por pregunta: {{ stats.rpp }}</li>
        </ul>
    </ul>
    </td>
    <td>
    <ul>
        <li>Enlaces: {{ stats.enlaces }}</li>
        <ul>
        <li>Clics en enlaces: {{ stats.clics_e }}</li>
        <li>Clics por enlace: {{ stats.clics_pe }}</li>
        <li>Comentarios: {{ stats.comentarios }}</li>
        <li>Comentarios por enlace: {{ stats.cpe }}</li>
        </ul>
    </ul>
    </td>
    <td>
    <ul>
        <li>Usuarios: {{ stats.usuarios }}</li>
        <ul>
        <li>Usuario más valorado: {{ stats.top_user|autor }}</li>
        <li>Seguimientos: {{ stats.seguimientos }}</li>
        </ul>
    </ul>
    </td>
</tr>
</table>
{% endif %}

</div>
{% include "pie.html" %}
