{% include "cabecera.html" %}
<div class="preguntas">
<div class="pregunta">
    <div class="titulo">La web</div>
    Esta es una web de <b>respuestas rápidas</b> para ofrecer soporte a la
    comunidad Linux, está enfocada en Ubuntu, pero son bienvenidas las preguntas
    y noticias sobre cualquier otra distribución Linux.
    <br/>
    Esta web no tiene ninguna relación con <a href="http://www.canonical.com">Canonical</a>.
    <ul>
        <li>Para estar al día de las noticias en torno a Linux tienes las sección <a href="/actualidad">actualidad</a>.</li>
        <li>Si lo que deseas es ponerte en <b>contacto</b> con algún administrador de este sitio web, puedes hacerlo a través de
        <a href="mailto:contacto@ubufaq.com">esta dirección de correo electrónico</a>.</li>
    </ul>
    Además esta web corre sobre <a href="http://appengine.google.com">Google App Engine</a>,
    así que si tienes algún <a href="http://code.google.com/status/appengine">problema</a> ...
    es cosa de Google!
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="diferencias">¿Qué diferencia hay entre esta web y un simple foro sobre Linux?</a>
    </div>
    <ul>
        <li>Hay una diferencia clara entre <a href="/preguntas">preguntas</a> y <a href="/actualidad">noticias</a> (enlaces).</li>
        <li>Se pueden publicar preguntas, respuestas, enlaces y comentarios de forma <b>anónima</b>, sin necesidad de engorrosos registros.</li>
        <li>Se hace un seguimiento exhaustivo de las preguntas, desde que se crean hasta que finalmente se marcan como solucionadas,
         informando al autor de todos los cambios.</li>
        <li>Cualquier otra persona que no sea el autor también puede disfrutar de este <a href="#seguimiento">seguimiento</a>.</li>
        <li>En todo momento se puede acceder al listado de preguntas <a href="/sin-solucionar">sin solucionar</a> ordenado por estado.</li>
        <li>Las respuestas se pueden votar positiva o negativamente, para destacar las mejores y penalizar las que no aporten nada.</li>
    </ul>
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="ayuda_preguntas">¿Qué clase de preguntas puedo hacer?</a>
    </div>
    <ul>
        <li>Cualquiera relacionada con Linux, sobre cualquier distribución: Ubuntu, Debian, Linux Mint, SuSE, Fedora...</li>
        <li>Cuanto más detallada sea la descripción de la pregunta, más fácil y rápido te contestarán.
         No olvides decir qué versión de Linux estás usando.</li>
        <li>Las preguntas pueden ser anónimas, pero si <a href="#ayuda_sesion">inicias sesión</a> podrás hacer un seguimiento
         más sencillo y completo de tus preguntas, y se te notificarán por email las respuestas.</li>
    </ul>
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="ayuda_enlaces">¿Qué clase de enlaces puedo publicar?</a>
    </div>
    <ul>
        <li>Cualquier cosa relacionada con Linux, usa el
         <a href="#" onclick="menu_cabecera('enlace');document.enlace.url.focus()">formulario</a>!</li>
        <li>Una noticia, un art&iacute;culo o un blog.</li>
        <li>Un vídeo de <a href="http://www.youtube.com" target="_Blank">youtube</a>,
        <a href="http://www.vimeo.com" target="_Blank">vimeo</a> o incluso vídeos en formato OGM o WEB.</li>
        <li>Una imagen o una captura de pantalla, puedes usar el servicio
        <a href="http://www.imgur.com" target="_Blank">imgur</a> para mayor comodidad.</li>
    </ul>
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="rss">¿C&oacute;mo puedo estar al d&iacute;a de las &uacute;ltimas preguntas y noticias de Ubuntu FAQ
        sin necesidad de entrar en la web todos los d&iacute;as?</a>
    </div>
    Para eso existen los RSS, solo necesitas un lector como <a href="http://reader.google.com">Google Reader</a>. Esta web dispone de dos RSS:
    <ul>
        <li>El <a href="/rss">RSS principal</a> que recoge las &uacute;ltimas preguntas y noticias de la web.</li>
        <li>El <a href="/rss-respuestas">RSS de comentarios</a> que recoge las &uacute;ltimas respuestas y comentarios.</li>
    </ul>
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="ayuda_sesion">Iniciar sesión:</a>
    </div>
    <ul>
        <li>Ubuntu FAQ no necesita registro, puedes hacerlo todo de forma <b>anónima</b>,
         pero si no deseas estar resolviendo captchas o si deseas sacarle más partido a la web
         (historial, notificaciones, seguimiento de preguntas, etc..) puedes iniciar sesión con tu cuenta Google.</li>
        <li>Ubuntu FAQ solamente puede acceder a los siguientes datos de tu cuenta Google: nick y email.</li>
        <li>Ubuntu FAQ no comparte ni compartirá estos datos con nadie más.</li>
        <li>Si deseas que se eliminen tus datos, envía un email a
         <a href="mailto:contacto@ubufaq.com">esta dirección de correo electrónico</a>.</li>
    </ul>
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="seguimiento">Seguimientos:</a>
    </div>
    Puedes activar el seguimiento automático de una pregunta para no tener que estar pendiente de la página.
    Con el seguimiento automático se generará una notificación cada vez que alguien responda a esa pregunta.
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="votar_respuestas">¿Qué es ese número que aparece a la derecha de cada respuesta?</a>
    </div>
    Esa es la valoración de la respuesta, en función de los votos, sirve para destacar las mejores respuestas
     y para penalizar las que no aporten nada.
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="avatar">¿Cómo cambio mi avatar?</a>
    </div>
    En esta web usamos el servicio web <a href="http://www.gravatar.com" target="_Blank">gravatar</a> para asociar un avatar a una cuenta de correo.<br/>
    Si deseas cambiar tu avatar entra en <a href="http://www.gravatar.com" target="_Blank">http://www.gravatar.com</a>.
    <ul>
        <li>Si no tienes cuenta:</li>
        <ul>
            <li>Clic en <b>get your gravatar today</b>.</li>
        </ul>
        <li>Si ya tienes cuenta:</li>
        <ul>
            <li>Entra con tu nombre de usuario y contraseña.</li>
        </ul>
    </ul>
</div>

<br/>

<div class="pregunta">
    <div class="titulo">
        <a name="karma">¿Qu&eacute; es ese n&uacute;mero que aparece debajo de mi avatar o junto a mi nombre?</a>
    </div>
    Se llama karma ¿Para qu&eacute; sirve? bueno, eso lo eliges t&uacute;:
    <ul>
        <li>Para motivar a la gente mediante un sistema de status basado en la colaboraci&oacute;n.</li>
        <li>Para nada, pero queda bonito.</li>
        <li>Para nada y ni siquiera queda bonito.</li>
    </ul>
    <b>¿Cómo se calcula?</b> El karma es un valor comprendido entre 0 y 20 (cuanto más mejor), y se calcula de la siguiente forma:
    <ul>
        <li>0 &lt; 2respuestas/preguntas &lt; 10</li>
        <li>0 &lt; 0.4*enlaces &lt; 4</li>
        <li>0 &lt; comentarios/enlaces &lt; 3</li>
        <li>+1 si está en la portada</li>
        <li>+1 si está en las últimas respuestas</li>
        <li>+1 si está en las populares</li>
    </ul>
    El sistema actualiza autom&aacute;ticamente el karma de tres usuarios cada 10 minutos,
    si todav&iacute;a tienes el tuyo a 0, se paciente, tarde o temprano se actualizar&aacute;.
</div>

{% if karmalist %}
<br/>
<div class="pregunta">
    <div class="titulo">
        <a name="karmalist">Usuarios pendientes de actualizaci&oacute;n de karma:</a>
    </div>
    <ul>
    {% for kuser in karmalist %}
        <li>{{ kuser|autor }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
</div>
{% include "pie.html" %}
