{% spaceless %}
{% include "cabecera.html" %}

<div class="preguntas">
<ul class="social">
    <li><div class="identica" style="padding: 3px; padding-bottom: 2px;background-color: white;
border: 1px outset #ccc;"><a href="javascript:(function(){var%20d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='http://identi.ca//index.php?action=bookmarklet',l=d.location,e=encodeURIComponent,g=f+'&status_textarea=%E2%80%9C'+((e(s))?e(s):e(document.title))+'%E2%80%9D%20%E2%80%94%20'+l.href;function%20a(){if(!w.open(g,'t','toolbar=0,resizable=0,scrollbars=1,status=1,width=450,height=200')){l.href=g;}}a();})()"><img src="/img/identica.png" alt="identica"/></a></div></li>
    <li><a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Compartir</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></li>
    <li><a title="Publicar en Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count" data-locale="es"></a>
<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script></li>
    <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="neorazorx" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
</ul>

<div class="titulo">La web</div>
<div>
    Esta es una web de <b>respuestas r&aacute;pidas</b> para ofrecer soporte a la
    comunidad al rededor de <a href="http://www.ubuntu.com">Ubuntu Linux</a>.
    Aunque no tiene nunguna relaci&oacute;n con
    <a href="http://www.canonical.com">Canonical</a>.
    <ul>
        <li>Si tienes cualquier duda o problema con Ubuntu, no dudes en <a href="/nueva">a&ntilde;adir tu pregunta</a>, la contestaremos lo antes posible.</li>
        <li>Para estar al d&iacute;a de las noticias en torno a Ubuntu tienes las secci&oacute;n <a href="/actualidad">actualidad</a>.</li>
        <li>Puedes compartir con nosotros cualquier contenido en la web que sea de inter&eacute;s: un v&iacute;deo, una foto, un art&iacute;culo, un blog, etc. Usa el <a href="/actualidad#nuevo-enlace">formulario</a>!</li>
        <li>Si lo que deseas es ponerte en <b>contacto</b> con alg&uacute;n administrador de este sitio web, puedes hacerlo a trav&eacute;s de <a href="mailto:contacto@ubufaq.com">esta direcci&oacute;n de correo electr&oacute;nico</a>.</li>
    </ul>
    Adem&aacute;s esta web corre sobre <a href="http://appengine.google.com">Google App Engine</a>,
    as&iacute; que si tienes alg&uacute;n <a href="http://code.google.com/status/appengine">problema</a> ...
    es cosa de Google!
</div>

<br/><br/>

<div class="titulo">
    <a name="rss">¿C&oacute;mo puedo estar al d&iacute;a de las &uacute;ltimas preguntas y noticias de Ubuntu FAQ sin necesidad de entrar en la web todos los d&iacute;as?</a>
</div>
<div>
    Para eso existen los RSS, solo necesitas un lector como <a href="http://reader.google.com">Google Reader</a>. Esta web dispone de dos RSS:
    <ul>
        <li>El <a href="/rss">RSS principal</a> que recoge las &uacute;ltimas preguntas y noticias de la web.</li>
        <li>El <a href="/rss-respuestas">RSS de comentarios</a> que recoge las &uacute;ltimas respuestas y comentarios.</li>
    </ul>
</div>

<br/><br/>

<div class="titulo">
    <a name="karma">¿Qu&eacute; es ese n&uacute;mero que aparece debajo de mi avatar o junto a mi nombre?</a>
</div>
<div>
    Se llama karma ¿Para qu&eacute; sirve? bueno, eso lo eliges t&uacute;:
    <ul>
        <li>Para motivar a la gente mediante un sistema de status basado en la colaboraci&oacute;n.</li>
        <li>Para nada, pero queda bonito.</li>
        <li>Para nada y ni siquiera queda bonito.</li>
    </ul>
    El sistema actualiza autom&aacute;ticamente el karma de un usuario cada 5 minutos,
    si todav&iacute;a tienes el tuyo a 0, pese a enviar algunas respuestas/enlaces/comentarios
    (las preguntas no cuentan), se paciente, tarde o temprano se actualizar&aacute;. O bien haz
    alg&uacute;n comentario en la secci&oacute;n <a href="/actualidad">actualidad</a>.
</div>

<br/><br/>

<div>
    <a name="gatitos"></a><center><img src="/img/dios_mata_gatitos.png" alt="gatitos"/></center>
</div>

</div>

{% include "pie.html" %}
{% endspaceless %}
