
body {
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    margin: 0px;
}

a {
    color: #DD4814;
    font-weight: bold;
    text-decoration: none;
}

a.comentario {
    background-color: #333333;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

a.comentarios {
    font-size: 20px;
    background-color: #333333;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}

a.no-comentarios {
    font-size: 20px;
    background-color: #c4c4c4;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}

a.tag {
    background-color: #DD4814;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

a.notificacion {
    background-color: #E20000;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

a.seguimiento {
    color: black;
}

a.negativo {
    background-color: #D43723;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

a.positivo {
    background-color: #36A736;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

big {
    font-size: 24px;
}

small {
    font-size: 10px;
}

div.codigo {
    border: 1px dashed #333333;
    padding: 10px;
    margin: 5px;
}

input.boton, div.boton, div.b_verde, div.b_rojo {
    background-color: #f1f1f1;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 3px;
    margin: 2px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border: 1px outset #848484;
}

div.boton a, div.b_verde a, div.b_rojo a {
    color: black;
}

div.boton:hover {
    background-color: #c4c4c4;
}

input.boton:hover, div.b_verde:hover {
    background-color: #36A736;
    border: 1px outset #36A736;
    color: white;
}

div.b_rojo:hover {
    background-color: #D43723;
    border: 1px outset #D43723;
}

div.b_verde:hover a, div.b_rojo:hover a {
    color: white;
}

textarea {
    width: 99%;
    border: 1px solid #333333;
}

input {
    border: 1px solid #333333;
}

input.titulo {
    width: 99%;
}

img {
    vertical-align: middle;
    border-width: 0;
}

img.galeria {
    border: 3px double #333333;
    max-width: 200px;
    max-height: 200px;
}

img.portada {
    margin-bottom: 5px;
}

hr {
    border: 0px solid white;
    border-bottom: 2px dashed #333333;
}

div.cabecera {
    font-size: 14px;
}

table.menucabecera td {
    padding: 4px;
}

table.menucabecera td#apptitle {
    width: 150px;
}

table.menucabecera td#right {
    text-align: right;
}

table.menucabecera a {
    color: white;
    padding: 5px;
}

table.menucabecera a.menusel {
    background-color: #DD4814;
}

table.menucabecera a:hover {
    background-color: #555555;
    color: white;
    text-decoration: none;
}

div.formcabecera {
    background-color: #F1F1F1;
    color: black;
    padding: 3px;
    border-bottom: 1px solid #c4c4c4;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
}

div.formcabecera a {
    color: black;
    padding: 3px;
}

div.formcabecera a:hover {
    background-color: #DD4814;
    color: white;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
}

div.formcabecera div#pregunta,
div.formcabecera div#enlace {
    display: none;
}

div.formcabecera table td.mini a {
    font-size: 12px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 5px;
}

table.menucabecera,
div.formcabecera div#pregunta table,
div.formcabecera div#enlace table {
    width: 100%;
}

div.formcabecera div#buscar {
    display: none;
    padding-right: 10px;
}

div#buscar2 {
    display: none;
    background-color: white;;
    color: black;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

div.dominio {
    background-color: #FFD5AD;
    border-bottom: 1px solid #EEB27A;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    color: black;
}

div.preguntas {
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 400px;
}

td.col_info_mix {
    width: 60px;
    vertical-align: top;
    padding-top: 8px;
}

td.avatar {
    vertical-align: top;
    width: 44px;
    text-align: center;
}

td.clics {
    vertical-align: top;
}

td.valoracion, td.v_negativa, td.v_positiva {
    text-align: right;
    vertical-align: top;
    width: 50px;
    font-size: 22px;
    font-weight: bold;
}

td.valoracion a {
    background-color: #c4c4c4;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

td.v_negativa a {
    background-color: #D43723;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

td.v_positiva a {
    background-color: #36A736;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

div.clics {
    text-align: center;
    color: white;
    background-color: #FF6400;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #FF6400;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

div.pregunta {
    border: 1px dotted white;
    padding: 5px;
}

div.pregunta:hover {
    background-color: #EEEEEE;
    border: 1px outset #E4E4E4;
}

div.pregunta div.bottom {
    margin-top: 5px;
    font-size: 12px;
    color: #DD4814;
}

div.formulario {
    margin: 10px;
    padding: 5px;
}

div.info_respuesta_up {
    font-size: 11px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    background-color: #c4c4c4;
}

div.info_respuesta_down {
    font-size: 11px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0px;
}

div.respuesta_d {
    background-color: #feffc0;
    border: 1px solid #e1e16e;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 5px;
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 15px;
}

div.respuesta,
div.respuesta_n {
    background-color: #F7F7F7;
    border: 1px solid #c4c4c4;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 5px;
    min-height: 35px;
}

div.respuesta:hover {
    background-color: #EFEFEF;
}

div.respuesta_n {
    border: 1px dashed #AFAFAF;
    color: white;
}

div.respuesta_n:hover {
    border: 1px solid #AFAFAF;
    color: black;
}

div.respuesta img.icono {
    float: right;
}

div.respuesta ul {
    margin-top: 5px;
    margin-bottom: 2px;
}

div.comentario {
    background-color: #EFEFEF;
    border: 1px solid #c4c4c4;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 5px;
    font-size: 17px;
}

div.num_respuesta {
    float: right;
}

div.mensaje {
    background-color: #feffc0;
    border-top: 1px solid #e1e16e;
    border-bottom: 1px solid #e1e16e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 15px;
}

div.titulo {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.12em;
    margin-bottom: 3px;
    text-transform: uppercase;
}

div.titulo span {
    background-color: #393939;
    color: white;
    font-size: 14px;
    letter-spacing: normal;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

div.avatar {
    text-align: center;
    font-size: 15px;
    padding: 2px;
    padding-bottom: 0px;
    margin: 0px;
}

div.avatar img {
    margin-bottom: 2px;
}

div.avatar a {
    color: #333333;
}

li.pregunta {
    font-size: 15px;
    letter-spacing: 0.12em;
}

div.paginacion {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

div.paginacion span {
    background-color: #E7E7E7;
    border: 1px solid #C4C4C4;
    margin-right: 5px;
    padding: 3px;
}

div.paginacion a {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #DD4814;
}

div.paginacion a:hover,
div.paginacion a#actual {
    background-color: #DD4814;
    color: white;
}

ul.social {
    list-style: none;
    height: 20px;
    margin-top: 5px;
    padding-left: 5px;
}

ul.social li {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div.alltags {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    word-spacing: 15px;
}

div.alltags a.max {
    font-size: 20px;
}

div.alltags a.min {
    font-size: 11px;
}

div.pie {
    font-size: 14px;
    padding: 5px;
    border-top: 1px solid black;
}

div.pie a {
    padding-left: 3px;
    padding-right: 3px;
    color: white;
}

div.pie table {
    width: 100%;
}

div.pie table td {
    vertical-align: top;
}

div.pregunta a:hover,
div.respuesta a:hover,
div.respuesta_d a:hover,
div.comentario a:hover {
    text-decoration: underline;
}

ul.tags a:hover,
div.alltags a:hover,
div.pie a:hover {
    background-color: #DD4814;
    color: white;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
}
