<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <title>{{ titulo|truncatewords:15 }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ tags }}" />
    <meta name="description" content="{{ descripcion|addslashes|truncatewords:50 }}" />
    <meta name="Robots" content="all" />
    <meta name="google-site-verification" content="iOvEYOOuoC2LJSxEWiDjlqENTzguoMg4LFLK_R4ZjTk" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss" />
    <link rel="stylesheet" href="/static/base.css" type="text/css" />
    <script type="text/javascript" src="/static/base.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-417932-5']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

{% if foco %}
<body onload="menu_cabecera('{{ foco }}')">
{% else %}
<body onload="menu_cabecera('pregunta')">
{% endif %}

<div class="cabecera">
<table class="menucabecera">
<tr>
    <td width="150"><a title="portada" href="/"><img src="/img/logo.png" alt="logo"/></a></td>
    <td>
        <a id="menupregunta" href="#" onclick="menu_cabecera('pregunta')" title="nueva pregunta">pregunta</a>
        <a id="menuenlace" href="#" onclick="menu_cabecera('enlace')" title="nueva noticia">noticia</a>
        <a id="menupensamiento" href="/nueva" title="publicar un pensamiento/comentario">pensamiento</a>
        <a id="menubuscar" href="#" onclick="menu_cabecera('buscar')" title="buscar en Ubuntu FAQ">buscar</a>
    </td>
    <td id="right">
{% if formulario %}
    {% if notis %}
        <a class="notificacion" href="{{ mi_perfil }}" title="tienes notificaciones pendientes">{{ notis|length }}</a>
    {% endif %}
    <a id="menusuario" href="{{ mi_perfil }}" title="acceder a tu perfil">{{ usuario }}</a>
{% else %}
    <a id="menusuario" href="/ayuda#ayuda_sesion">¿?</a>
{% endif %}
    <a href="{{ url }}" title="cerrar sesión">{{ url_linktext }}</a>
    </td>
</tr>
</table>
<div class="formcabecera">
    <div id="pregunta">
        <form name="pregunta" action="/nueva" method="get">
        <table width="100%">
        <tr>
        <td width="110">Haz tu pregunta:</td>
        <td>
            <input type="hidden" name="tipo" value="pregunta"/>
            <input class="titulo" type="text" name="contenido" size="70" maxlength="500" value=""/>
        </td>
        <td width="80" align="center"><input type="submit" class="boton" value="continuar"/></td>
        </tr>
        <tr>
        <td></td>
        <td class="mini">
            Preguntas:
            <a href="/preguntas">Todas</a>
            <a href="/populares">Populares</a>
            <a href="/sin-solucionar">Sin solucionar</a>
            | Noticias:
            <a href="/actualidad">Actualidad</a>
            | Otros:
            <a href="/search/">Etiquetas</a>
        </td>
        <td align="center"><a href="/ayuda">Ayuda</a></td>
        </tr>
        </table>
        </form>
    </div>
    <div id="enlace">
        <form name="enlace" action="/nueva" method="get">
        <table width="100%">
        <tr>
        <td width="50">Enlace:</td>
        <td>
            <input type="hidden" name="tipo" value="enlace"/>
            <input class="titulo" type="text" name="url" size="70" maxlength="150" value="http://" onclick="this.select()"/>
        </td>
        <td width="80" align="center"><input type="submit" class="boton" value="continuar"/></td>
        </tr>
        <tr>
        <td></td>
        <td class="mini">
            Preguntas:
            <a href="/preguntas">Todas</a>
            <a href="/populares">Populares</a>
            <a href="/sin-solucionar">Sin solucionar</a>
            | Noticias:
            <a href="/actualidad">Actualidad</a>
            | Otros:
            <a href="/search/">Etiquetas</a>
        </td>
        <td align="center"><a href="/ayuda">Ayuda</a></td>
        </tr>
        </table>
        </form>
    </div>
    <div id="buscar">
        <form name="buscar" action="/search/" method="POST">
        <table width="100%">
        <tr>
        <td width="160">¿Qué es lo que buscas?</td>
        <td><input class="titulo" type="text" name="query" size="70" maxlength="150" value="{{ tag }}"/></td>
        <td width="120" align="center"><input type="submit" class="boton" value="buscar"/> <a href="/ayuda">Ayuda</a></td>
        </tr>
        <tr>
        <td colspan="2" class="mini">
            {% for s in searches %}
                <a href="#" onclick="go_buscar('{{ s.0 }}')" title="{{ s.1 }}">{{ s.0 }}</a>
            {% endfor %}
        </td>
        </tr>
        </table>
        </form>
    </div>
</div>
</div>

{% if error_dominio %}
<div class="dominio">Por favor, usa el dominio <a href="http://www.ubufaq.com">ubufaq.com</a> para acceder a esta web.</div>
{% endif %}
