<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <title>{{ titulo|truncatewords:15 }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ tags }}" />
    <meta name="description" content="{{ descripcion|addslashes|truncatewords:50 }}" />
    <meta name="Robots" content="all" />
    <meta name="google-site-verification" content="iOvEYOOuoC2LJSxEWiDjlqENTzguoMg4LFLK_R4ZjTk" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss" />
    <style type="text/css">
      {% include "base.css" %}
    </style>
    <script type="text/javascript">
      {% include "base.js" %}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-417932-5']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>

<div class="cabecera">
<table class="menucabecera">
<tr>
    <td>
        <a title="Soluciones r&aacute;pidas para tus problemas con Ubuntu, Kubuntu, Xubuntu, Lubuntu y Linux en general" href="/">Ubuntu <s>FUCK</s> FAQ</a>
        <a id="menupregunta" class="menusel" href="#" onclick="menu_cabecera('pregunta')">pregunta</a>
        <a id="menuenlace" href="#" onclick="menu_cabecera('enlace')">enlace</a>
        <a id="menubuscar" href="#" onclick="menu_cabecera('buscar')">buscar</a>
        <a id="menumapa" href="#" onclick="menu_cabecera('mapa')">más...</a>
    </td>
    <td id="right">
{% if formulario %}
    {% if notis %}
        <a class="notificacion" href="{{ mi_perfil }}">{{ notis|length }}</a>
        <a href="{{ mi_perfil }}">{{ usuario }}</a>
    {% else %}
        <a href="{{ mi_perfil }}">{{ usuario }}</a>
    {% endif %}
{% else %}
    <a href="/ayuda#ayuda_sesion">?</a>
{% endif %}
        <a href="{{ url }}">{{ url_linktext }}</a>
    </td>
</tr>
</table>
<div class="formcabecera">
    <div id="pregunta">
        <form name="pregunta" action="/nueva" method="get">
        <table>
        <tr>
        <td>
            <input type="hidden" name="tipo" value="pregunta"/>
            <input class="titulo" type="text" name="contenido" size="70" maxlength="500" value="¡Haz tu pregunta!" onclick="this.select()"/>
        </td>
        <td><input type="submit" class="boton" value="continuar"/> <a href="/ayuda#ayuda_preguntas">Ayuda</a></td>
        </tr>
        </table>
        </form>
    </div>
    <div id="enlace">
        <form name="enlace" action="/nueva" method="get">
        <table>
        <tr>
        <td>
            <input type="hidden" name="tipo" value="enlace"/>
            <input class="titulo" type="text" name="url" size="70" maxlength="150" value="http://" onclick="this.select()"/>
        </td>
        <td><input type="submit" class="boton" value="continuar"/> <a href="/ayuda#ayuda_enlaces">Ayuda</a></td>
        </tr>
        </table>
        </form>
    </div>
    <div id="buscar">
        <div id="cse-search-form" style="width: 100%;">Loading</div>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript"> 
          google.load('search', '1', {language : 'es', style : google.loader.themes.MINIMALIST});
          google.setOnLoadCallback(function() {
            var customSearchControl = new google.search.CustomSearchControl('012555462685872355777:lsfrysuzq4w');
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.setSearchFormRoot('cse-search-form');
            options.setAutoComplete(true);    
            customSearchControl.draw('cse', options);
          }, true);
        </script>
    </div>
    <div id="mapa">
        Preguntas: &nbsp;
        <a href="/preguntas">Todas</a>
        <a href="/populares">Populares</a>
        <a href="/sin-solucionar">Sin solucionar</a>
        | &nbsp;
        <a href="/actualidad">Actualidad</a>
        <a href="/images">Imágenes</a>
        <a href="/tag/">Tags</a>
        | &nbsp;
        <a href="/ayuda">Ayuda</a>
    </div>
</div>
</div>

{% if error_dominio %}
<div class="dominio">Por favor, usa el dominio <a href="http://www.ubufaq.com">ubufaq.com</a> para acceder a esta web.</div>
{% endif %}

<div id="buscar2"><div id="cse"></div></div>
