{% include "cabecera.html" %}
<div class="preguntas">

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'es'}
</script>

<table width="100%">
<tr>
    <td valign="top"><div class="avatar">{{ enlace.autor.email|avatar }}<br/>{{ enlace.puntos|puntos }}</div></td>
    <td valign="top">
{% if modificar %}
        <div>
        <div class="titulo">Editar enlace:</div>
        <form name="enlace" action="/mod_e" method="post">
        <input type="hidden" name="id" value="{{ enlace.key }}"/>
        <input class="titulo" type="text" name="url" size="50" maxlength="100" value="{{ enlace.url }}"/>
        <textarea name="descripcion" rows="6" cols="60">{{ enlace.descripcion|safe }}</textarea>
        <br/>
        Tags: <input type="text" name="tags" size="50" maxlength="100" value="{{ enlace.tags }}"/> &nbsp;
        Tipo enlace: <input type="text" name="tipo_enlace" size="30" maxlength="100" value="{{ enlace.tipo_enlace }}"/>
        <input type="submit" class="boton" value="modificar">
        </form>
        </div>
{% else %}
        <div class="info_respuesta_up">
            &nbsp; {{ enlace.autor|autor }} |
            {{ enlace.os|muestra_os }} |
            {{ enlace.creado|date:"d/m/Y H:i" }} |
            {{ enlace.comentarios }} comentarios |
            {{ enlace.clicks }} clicks
        </div>
        <div class="comentario">
            {{ enlace.descripcion|safe|fuckcode }}
            <br/>
            {{ enlace|tipo_enlace }}
        </div>
{% endif %}
    </td>
    <td valign="top">
    {% if not modificar %}
        {% if editar %}
        <div class="boton"><a href="/story/{{ enlace.key }}?modificar=ok">modificar</a></div>
        {% endif %}
        {% if administrador %}
        <div class="b_rojo"><a href="#" onclick="hundir_enlace('{{ enlace.key }}')">hundir</a></div>
        <div class="b_rojo"><a href="#" onclick="borrar_enlace('{{ enlace.key }}')">borrar</a></div>
        {% endif %}
    {% endif %}
    </td>
</tr>
<tr>
    <td></td>
    <td align="center">
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7967042768660878";
            /* ubufaq-horizontal */
            google_ad_slot = "9417145252";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </td>
    <td>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="es">Tweet</a>
        <br/><br/>
        <g:plusone size="medium"></g:plusone>
    </td>
    <td></td>
</tr>

{{ comentarios|respuestas_destacadas }}

{% for coment in comentarios %}
<tr>
{% if coment.valoracion >= -1 and coment.valoracion <= 1 %}
    <td class="valoracion"><a title="valoración" href="#{{ forloop.counter }}" onclick="ayuda_votar()">{{ coment.valoracion }}</a></td>
{% else %}
    {% if coment.valoracion > 1 %}
    <td class="v_positiva"><a title="valoración" href="#{{ forloop.counter }}" onclick="ayuda_votar()">{{ coment.valoracion }}</a></td>
    {% else %}
    <td class="v_negativa"><a title="valoración" href="#{{ forloop.counter }}" onclick="ayuda_votar()">{{ coment.valoracion }}</a></td>
    {% endif %}
{% endif %}
    <td valign="top">
        <div class="info_respuesta_up">
            <a name="{{ coment.key }}"></a>
            <a class="comentario" name="{{ forloop.counter }}" href="#nuevo_comentario" onclick="citar_comentario('{{ forloop.counter }}', '')">@{{ forloop.counter }}</a>
            &nbsp; {{ coment.autor|autor }} |
            {% if administrador %}
                {{ coment.get_ip }} |
            {% endif %}
            {{ coment.os|muestra_os }} |
            {{ coment.fecha|timesince|traducir }}
        </div>
{% if coment.valoracion >= -1 %}
        <div class="respuesta">
{% else %}
        <div class="respuesta_n">
{% endif %}
        {% if modificar and administrador %}
            <form name="comentario{{ forloop.counter }}" action="/mod_c" method="post">
            <input type="hidden" name="id_enlace" value="{{ enlace.key }}"/>
            <input type="hidden" name="id_comentario" value="{{ coment.key }}"/>
            <textarea name="contenido" rows="6" cols="60">{{ coment.contenido|safe }}</textarea>
            <input type="submit" class="boton" value="modificar">
            </form>
        {% else %}
            {{ coment.contenido|safe|linebreaksbr|fuckcode }}
        {% endif %}
        </div>
        <div class="info_respuesta_down">
            Votar:
            <a class="negativo" title="voto negativo" href="/votar/c/{{coment.key}}/0">-1</a>
            <a class="positivo" title="voto positivo" href="/votar/c/{{coment.key}}/1">+1</a>
        </div>
    </td>
    <td valign="top">
    {% if administrador and not modificar %}
        <div class="boton"><a href="/story/{{ enlace.key }}?modificar=ok#{{ forloop.counter }}">modificar</a></div>
        <div class="b_rojo"><a href="#" onclick="borrar_comentario('{{ enlace.key }}', '{{ coment.key }}')">borrar</a></div>
    {% else %}
        {{ coment.autor.email|avatar:40 }}
    {% endif %}
    </td>
</tr>
{% empty %}
<tr>
    <td></td>
    <td valign="top">
        <div class="mensaje">
        Cada vez que una noticia se queda sin comentarios, Dios mata un gatito.
        <br/>
        Por favor, piensa en los gatitos!
        </div>
    </td>
    <td align="left" valign="top"><img src="/img/gatito-avatar.png" alt="gatito" /></td>
</tr>
{% endfor %}

<tr><td></td><td><hr/></td><td></td></tr>

<tr>
<td align="right" valign="top"><a name="#nuevo_comentario"></a>{{ usuario.email|avatar:40 }}</td>
<td valign="top">
    <form name="comentario" action="/add_c" method="post">
    <input type="hidden" name="id_enlace" value="{{ enlace.key }}"/>
    <input type="button" name="add_b" value="negrita" onclick="add_negrita('')"/>
    <input type="button" name="add_i" value="cursiva" onclick="add_cursiva('')"/>
    <input type="button" name="add_u" value="subrayado" onclick="add_subrayado('')"/>
    <input type="button" name="add_big" value="gigante" onclick="add_gigante('')"/>
    <input type="button" name="add_small" value="diminuto" onclick="add_diminuto('')"/>
    <input type="button" name="add_code" value="código" onclick="add_codigo('')"/>
    <textarea name="contenido" rows="6" cols="60"></textarea>
    <br/>{{ captcha|safe }}
{% if formulario %}
    <input type="checkbox" name="anonimo"/>An&oacute;nimo
{% endif %}
    <input type="button" class="boton" value="comentar" onclick="enviar_comentario()"/>
    </div>
</td>
</tr>
{% if relacionadas %}
<tr>
    <td></td>
    <td>
    <b>Informaci&oacute;n relacionada: {{ tags|tags }}.</b>
    <ul class="tags">
    {% for rel in relacionadas %}
        <li><a href="{{ rel.url }}">{{ rel.text|truncatewords:25 }}</a></li>
    {% endfor %}
    </ul>
    </td>
</tr>
{% endif %}
</table>

</div>
{% include "pie.html" %}
