{% include "cabecera.html" %}

<div class="preguntas">

{% if enlace %}
{% if modificar %}
    <div>
        <div class="titulo">Editar enlace:</div>
        <form name="enlace" action="/mod_e" method="post">
        <input type="hidden" name="id" value="{{ enlace.key }}"/>
        <input id="titulo" type="text" name="url" size="50" maxlength="100" value="{{ enlace.url }}"/>
        <textarea name="descripcion" rows="6" cols="60">{{ enlace.descripcion }}</textarea>
        <br/>
        Tipo enlace: <input type="text" name="tipo_enlace" size="30" maxlength="100" value="{{ enlace.tipo_enlace }}"/>
        <input type="submit" class="boton" value="modificar">
        </form>
    </div>
    <br/>
{% else %}
<table>
<tr>
<td valign="top">
    <div class="avatar">{{ enlace.autor.email|avatar }}<br/>{{ enlace.puntos|puntos }}</div>
</td>
<td width="100%" valign="top">
<div class="info_respuesta_up">
    {{ enlace.clicks }} clicks |
    {{ enlace.creado|date:"d/m/Y H:i" }} |
{% if enlace.autor %}
    <a href="/u/{{ enlace.autor.email|urlencode }}">{{ enlace.autor.nickname|cortamail }}</a>
    {{ enlace.puntos }}
{% else %}
    an&oacute;nimo
{% endif %}
    | {{ enlace.os|muestra_os }}
{% if administrador %}
    | <a href="/story/{{ enlace.key }}?modificar=ok">modificar</a>
    | <a href="#" onclick="hundir_enlace('{{ enlace.key }}')">hundir</a>
    | <a href="#" onclick="borrar_enlace('{{ enlace.key }}')">borrar</a>
{% endif %}
</div>

{% ifequal tipo_enlace 'texto' %}
<div class="comentario">
    <a href="/story/{{ enlace.key }}">#0</a>
    {{ enlace.descripcion|capfirst|urlizetrunc:30 }} - <a href="{{ enlace.url }}">{{ enlace.url|slice:":37" }}</a>
</div>
{% else %}
<div class="comentario">
    <a href="/story/{{ enlace.key }}">#0</a> {{ enlace.descripcion|capfirst|urlizetrunc:30 }}</a>
</div>
{% endifequal %}

<ul class="social">
    <li><div class="identica" style="padding: 3px; padding-bottom: 2px;background-color: white;
border: 1px outset #ccc;"><a href="javascript:(function(){var%20d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='http://identi.ca//index.php?action=bookmarklet',l=d.location,e=encodeURIComponent,g=f+'&status_textarea=%E2%80%9C'+((e(s))?e(s):e(document.title))+'%E2%80%9D%20%E2%80%94%20'+l.href;function%20a(){if(!w.open(g,'t','toolbar=0,resizable=0,scrollbars=1,status=1,width=450,height=200')){l.href=g;}}a();})()"><img src="/img/identica.png" alt="identica"/></a></div></li>
    <li><a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Compartir</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></li>
    <li><a title="Publicar en Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count" data-locale="es"></a><script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script></li>
    <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="neorazorx" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
</ul>
</td>
</tr>
</table>


{% ifequal tipo_enlace 'youtube' %}
    <center><iframe title="YouTube video player" class="youtube-player" type="text/html" width="480" height="390" src="http://www.youtube.com/embed/{{ aux_enlace }}" frameborder="0"></iframe></center><br/>
{% endifequal %}

{% ifequal tipo_enlace 'vimeo' %}
    <center><iframe src="http://player.vimeo.com/video/{{ aux_enlace }}" width="400" height="300" frameborder="0"></iframe></center><br/>
{% endifequal %}

{% ifequal tipo_enlace 'vhtml5' %}
    <center><video src="{{ enlace.url }}" controls="controls">¡Tu navegador no soporta el tag de v&iacute;deo en html5!</video></center><br/>
{% endifequal %}

{% ifequal tipo_enlace 'imagen' %}
    <center><a href="{{ enlace.url }}">{{ enlace.url|miniatura }}</a></center><br/>
{% endifequal %}

{% ifequal tipo_enlace 'deb' %}
    <center><a href="{{ enlace.url }}"><img src="/img/application-x-deb.png" alt="{{ enlace.descripcion }}"/></a></center><br/>
{% endifequal %}

{% ifequal tipo_enlace 'package' %}
    <center><a href="{{ enlace.url }}"><img src="/img/emblem-package.png" alt="{{ enlace.descripcion }}"/></a></center><br/>
{% endifequal %}
{% endif %}
{% endif %}


<table>
{% for coment in comentarios %}
<tr>
    <td class="avatar">{{ coment.autor.email|avatar:40 }}</td>
    <td width="100%" valign="top">
    <div class="respuesta">
    {% if modificar %}
        <form name="comentario{{ forloop.counter }}" action="/mod_c" method="post">
        <input type="hidden" name="id_enlace" value="{{ enlace.key }}"/>
        <input type="hidden" name="id_comentario" value="{{ coment.key }}"/>
        <textarea name="contenido" rows="6" cols="60">{{ coment.contenido }}</textarea>
        <input type="submit" class="boton" value="modificar">
        </form>
    {% else %}
        <a name="{{ forloop.counter }}" href="/story/{{ enlace.key }}#{{ forloop.counter }}">#{{ forloop.counter }}</a>
        {{ coment.contenido|capfirst|linebreaksbr|urlize }}
    {% endif %}
    </div>
    <div class="info_respuesta_down">
        <a name="{{ coment.key }}"></a>{{ coment.fecha|date:"d/m/Y H:i" }} |
    {% if coment.autor %}
        <a href="/u/{{ coment.autor.email|urlencode }}">{{ coment.autor.nickname|cortamail }}</a>
        {{ coment.puntos }}
    {% else %}
        an&oacute;nimo
    {% endif %}
        | {{ coment.os|muestra_os }}
    
    {% if administrador %}
        | <a href="#" onclick="borrar_comentario('{{ enlace.key }}', '{{ coment.key }}')">borrar</a>
    {% endif %}
    </div>
    </td>
</tr>
{% endfor %}


<tr>
<td class="avatar"><br/>{{ usuario.email|avatar:40 }}</td>
<td width="100%">
    <div class="formulario">
    <form name="comentario" action="/add_c" method="post">
    <input type="hidden" name="id_enlace" value="{{ enlace.key }}"/>
    <textarea name="contenido" rows="6" cols="60">Deja un comentario, es gratis!</textarea>
    <br/>{{ captcha }}
    <input type="button" class="boton" value="comentar" onclick="enviar_comentario()"/>
    </form>
    </div>
</td>
</tr>
</table>

</div>

{% include "pie.html" %}
