{% include "cabecera.html" %}
<div class="preguntas">

{{ datos_paginacion|paginar }}

{% for imagen in imagenes %}
<table>
<tr>
    <td><a href="/e/{{ imagen.key }}">{{ imagen.url|miniatura }}</a></td>
    <td>
    <div class="comentario">
        {{ imagen.autor.email|avatar:40 }}
        {% if imagen.comentarios %}
            <a class="comentarios" href="/story/{{ imagen.key }}" title="comentarios">{{ imagen.comentarios }}</a>
        {% else %}
            <a class="no-comentarios" href="/story/{{ imagen.key }}" title="comentarios">{{ imagen.comentarios }}</a>
        {% endif %}
        <br/>
        {{ imagen.autor|autor }}
        <br/>
        {{ imagen.creado|date:"d/m/Y H:i" }} | {{ imagen.clicks }} clics
        <br/>
        {{ imagen.descripcion|safe|urlizetrunc:30 }}
    </div>
    </td>
</tr>
</table>
{% empty %}
    <div class="mensaje">Sin resultados.</div>
{% endfor %}

{{ datos_paginacion|paginar }}

{% if stats %}
<hr/>
<table width="100%">
<tr>
    <td width="90">
        {{ stats.top_user.email|avatar }}
    </td>
    <td>
    <ul>
        <li>Usuario m&aacute;s valorado:</li>
        <ul>
        <li><a href="/u/{{ stats.top_user.email|urlencode }}">{{ stats.top_user.nickname|cortamail }}</a></li>
        <li>{{ stats.tu_puntos|puntos }} puntos</li>
        </ul>
    </ul>
    </td>
    <td>
    <ul>
        <li>Preguntas: {{ stats.preguntas }}</li>
        <ul>
        <li>Clics en preguntas: {{ stats.clics_p }}</li>
        <li>Clics por pregunta: {{ stats.clics_pp }}</li>
        <li>Respuestas: {{ stats.respuestas }}</li>
        <li>Respuestas por pregunta: {{ stats.rpp }}</li>
        </ul>
    </ul>
    </td>
    <td>
    <ul>
        <li>Enlaces: {{ stats.enlaces }}</li>
        <ul>
        <li>Clics en enlaces: {{ stats.clics_e }}</li>
        <li>Clics por enlace: {{ stats.clics_pe }}</li>
        <li>Comentarios: {{ stats.comentarios }}</li>
        <li>Comentarios por enlace: {{ stats.cpe }}</li>
        </ul>
    </ul>
    </td>
</tr>
</table>
{% endif %}

</div>
{% include "pie.html" %}
