{% include "cabecera.html" %}
<div class="preguntas">

<div id="cse" style="width: 100%;">Cargando...</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'es', style : google.loader.themes.MINIMALIST});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('012555462685872355777:lsfrysuzq4w');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.setAutoComplete(true);
    customSearchControl.draw('cse', options);
  }, true);
</script>

{% for imagen in imagenes %}
<table>
<tr>
    <td><a href="/e/{{ imagen.key }}">{{ imagen.url|miniatura }}</a></td>
    <td>
    <div class="comentario">
        {{ imagen.autor.email|avatar:40 }}
        <a href="/story/{{ imagen.key }}"><img src="/img/comments.png" alt="comentarios" title="deja un comentario"/></a>
        {% if imagen.comentarios %}
            {{ imagen.comentarios }}
        {% endif %}
        <br/>
        {% if imagen.autor %}
            <a href="/u/{{ imagen.autor.email|urlencode }}">{{ imagen.autor.nickname|cortamail }}</a> {{ imagen.puntos }}
        {% else %}
            an&oacute;nimo
        {% endif %}
        <br/>
        {{ imagen.creado|date:"d/m/Y H:i" }} | {{ imagen.clicks }} clics
        <br/>
        {{ imagen.descripcion|safe|urlizetrunc:30 }}
    </div>
    </td>
</tr>
</table>
{% empty %}
    <div class="mensaje">Sin resultados.</div>
{% endfor %}

{{ datos_paginacion|paginar }}

</div>
{% include "pie.html" %}
