{% include "cabecera.html" %}

<div class="preguntas">

{% if imagenes %}
{% for imagen in imagenes %}
<table>
    <tr>
    <td><a href="/e/{{ imagen.key }}">{{ imagen.url|miniatura }}</a></td>
    <td>
    <div class="comentario">
        {{ imagen.autor.email|avatar:40 }}
        <a href="/story/{{ imagen.key }}"><img src="/img/comments.png" alt="comentarios" title="deja un comentario"/></a>
        {% if imagen.comentarios %}
            {{ imagen.comentarios }}
        {% endif %}
        <br/>
        {% if imagen.autor %}
            <a href="/u/{{ imagen.autor.email|urlencode }}">{{ imagen.autor.nickname|cortamail }}</a> {{ imagen.puntos }}
        {% else %}
            an&oacute;nimo
        {% endif %}
        <br/>
        {{ imagen.creado|date:"d/m/Y H:i" }} | {{ imagen.clicks }} clicks
        <br/>
        {{ imagen.descripcion|capfirst|urlizetrunc:30 }}
    </div>
    </td>
    </tr>
</table>
{% endfor %}
{% else %}
    <div class="mensaje">sin resultados.</div>
{% endif %}

<table>
{% ifnotequal paginas 1 %}
<tr>
<td></td>
<td colspan="2">
    <div class="paginacion">
        <span>P&aacute;ginas:</span>
    {% for pag in rango_paginas %}
        {% ifequal pag pag_actual %}
            <span id="actual"><a href="/images/{{pag}}">{{pag}}</a></span>
        {% else %}
            <span><a href="/images/{{pag}}">{{pag}}</a></span>
        {% endifequal %}
    {% endfor %}
    </div>
</td>
</tr>
{% endifnotequal %}

<tr>
<td class="avatar"><br/><br/>{{ usuario.email|avatar:40 }}</td>
<td valign="top">
    <a name="nuevo-enlace"></a>
    <div class="formulario">
    <div class="titulo">Compartir imagen:</div>
    <form name="enlace" action="/add_e" method="post">
        <input id="titulo" type="text" name="url" value="http://" size="70" maxlength="200" title="Escribe la url de la noticia, im&aacute;gen, v&iacute;deo o blog que quieras compartir"/>
        <br/>
        <textarea name="descripcion" rows="4" cols="60">Descripcion (450 caracteres max.)</textarea>
        <br/>{{ captcha }}
    {% if formulario %}
        <input type="checkbox" name="anonimo"/>An&oacute;nimo
    {% endif %}
        <input type="button" class="boton" name="enviar" value="enviar" onclick="enviar_enlace()"/>
    </form>
    </div>
</td>
<td valign="top">
<br/>
<b>Comparte:</b><br/>
- Una foto, una imagen o una captura de pantalla, puedes usar el servicio <a href="http://www.imgur.com" target="_Blank">imgur</a> para mayor comodidad.
</td>
</tr>
</table>
</div>

{% include "pie.html" %}
