{% include "cabecera.html" %}

<div class="preguntas">
<table class="widgets">
<tr>
<td class="preguntas">

{% ifequal vista 'inicio' %}
<div class="mensaje">¿Tienes alg&uacute;n problema con Ubuntu? <a href="/buscar">busca</a> o usa el formulario de <a href="/nueva">nueva pregunta</a>.</div>
{% endifequal %}

{% if preguntas %}
    {% for pregunta in preguntas %}
    <div class="pregunta">
        <div class="titulo">
            <a href="/question/{{ pregunta.key }}">{{ pregunta.titulo }}</a>
            <span>{{ pregunta.estado|estado_pregunta }}</span>
        </div>
        {{ pregunta.contenido|truncatewords:25 }}
        <br/>
        <span>
        {{ pregunta.respuestas }} respuestas |
        {{ pregunta.visitas }} visitas |
        {{ pregunta.creado|date:"d/m/Y H:i" }} |
        etiquetas: {{ pregunta.tags }} |
    {% if pregunta.autor %}
        <a href="/u/{{pregunta.autor.email|urlencode}}">{{ pregunta.autor.nickname|cortamail }}</a>
        {{ pregunta.puntos }}
    {% else %}
        an&oacute;nimo
    {% endif %}
        </span>
    </div>
    {% endfor %}
{% else %}
    <div class="mensaje">Sin resultados.</div>
{% endif %}

{% ifnotequal paginas 1 %}
<div class="paginacion">
    <span>P&aacute;ginas:</span>
    {% for pag in rango_paginas %}
        {% ifequal pag pag_actual %}
            <span id="actual"><a href="/{{vista}}/{{pag}}">{{pag}}</a></span>
        {% else %}
            <span><a href="/{{vista}}/{{pag}}">{{pag}}</a></span>
        {% endifequal %}
    {% endfor %}
</div>
{% endifnotequal %}

{% if preguntas %}
{% ifequal vista 'sin-solucionar' %}
    <br/><center><a href="/ayuda#gatitos"><img src="/img/banner_gatitos.png" alt="gatitos"/></a></center>
{% endifequal %}
{% endif %}

</td>
<td class="widget">

{% if enlaces %}
    <div class="ultimas_respuestas">Actualidad:</div>
    {% for enlace in enlaces %}
    <div class="respuesta">{{ enlace.descripcion|truncatewords:25 }}<br/>
    <a href="/story/{{ enlace.key }}">{{ enlace.url|slice:":37" }}</a></div>
    <div class="info_respuesta_down">
        {{ enlace.creado|date:"d/m/Y H:i" }} |
        {{ enlace.comentarios }} coment |
    {% if enlace.autor %}
        <a href="/u/{{ enlace.autor.email|urlencode }}">{{ enlace.autor.nickname|cortamail }}</a>
        {{ enlace.puntos }}
    {% else %}
        an&oacute;nimo
    {% endif %}
    </div>
    {% endfor %}
{% endif %}

{% if respuestas %}
    <div class="ultimas_respuestas">&Uacute;ltimas respuestas:</div>
    {% for respuesta in respuestas %}
        <div class="respuesta">{{respuesta.contenido|truncatewords:25|urlizetrunc:30}}</div>
        <div class="info_respuesta_down">
        <a href="/question/{{respuesta.id_pregunta}}#{{respuesta.key}}">{{respuesta.fecha|date:"d/m/Y H:i"}}</a> -
    {% if respuesta.autor %}
        <a href="/u/{{respuesta.autor.email|urlencode}}">{{ respuesta.autor.nickname|cortamail }}</a>
        {{ respuesta.puntos }}
    {% else %}
        an&oacute;nimo
    {% endif %}
        </div>
    {% endfor %}
{% endif %}

</td>
</tr>
</table>
</div>

{% include "pie.html" %}
