<div class="pie">
    <a href="mailto:contacto@ubufaq.com">Contactar</a> |
    <a href="/rss">RSS</a> |
    <a href="/rss-respuestas">RSS comentarios</a> |
    <a href="http://www.ubuntu.com">Ubuntu.com</a> |
    <a href="http://www.guia-ubuntu.org">Guia Ubuntu</a>
</div>
<div class="pie_left">
    <a href="http://fusion.google.com/add?source=atgs&amp;feedurl=http%3A//www.ubufaq.com/rss"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"/></a>
</div>
</body>
</html>
