<div class="pie">
<table>
<tr>
    <td align="left">
    <a href="/rss">RSS</a>
    <a href="/rss-respuestas">RSS comentarios</a>
    <a target="_Blank" href="http://github.com/NeoRazorX/ubuntufaq">C&oacute;digo fuente</a>
    </td>
    <td align="center">
    <a target="_Blank" href="http://www.ubuntu.com">Ubuntu.com</a>
    </td>
    <td align="right">
    <a href="mailto:contacto@ubufaq.com">Contactar</a>
    Copyright © 2011 by <a target="_Blank" href="http://www.neorazorx.com/p/cv.html">NeoRazorX</a>
    </td>
</tr>
</table>
</div>
</body>
</html>
