<div class="pie">
    <a href="mailto:contacto@ubufaq.com">Contactar</a> |
    <a href="/rss">RSS</a> |
    <a href="/rss-respuestas">RSS comentarios</a> |
    <a href="http://github.com/NeoRazorX/ubuntufaq">C&oacute;digo fuente</a> |
    <a href="http://www.ubuntu.com">Ubuntu.com</a> |
    <a href="http://www.guia-ubuntu.org">Guia Ubuntu</a>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-417932-5']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
