{% include "cabecera.html" %}
<div class="preguntas">

<table align="center">
{% for mix in mixto %}
    <tr>
    <td class="clics"><div class="clics"><b>{{ mix.clicks }}</b> clics</a></td>
    <td>
    <div class="info_respuesta_up">
        &nbsp; {{ mix.creado|date:"d/m/Y H:i" }} |
        {{ mix.autor|autor }}
    </div>
    <div class="respuesta">
        {% ifequal mix.tipo 'imagen' %}
            <a href="{{ mix.link }}"><img class="icono" src="/img/photo.png" alt="imagen"/></a>
        {% endifequal %}
        {% ifequal mix.tipo 'youtube' %}
            <a href="{{ mix.link }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endifequal %}
        {% ifequal mix.tipo 'vimeo' %}
            <a href="{{ mix.link }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endifequal %}
        {% ifequal mix.tipo 'vhtml5' %}
            <a href="{{ mix.link }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
        {% endifequal %}
        
        {% ifequal mix.tipo 'pregunta' %}
        <div class='titulo'>
            <span>{{ mix.estado|estado_pregunta }}</span>
            <a href="{{ mix.link }}">{{ mix.titulo|safe }}</a>
        </div>
        {{ mix.descripcion|safe|truncatewords:35 }}
        {% else %}
        {{ mix.descripcion|safe|urlize }}
            {% ifequal mix.tipo 'texto' %}
                - <a href="/e/{{ mix.key }}" target="_Blank">fuente original</a>.
            {% endifequal %}
        {% endifequal %}
    </div>
    <div class="info_respuesta_down"></div>
    </td>
    <td class="col_info_mix">
    {% if mix.comentarios %}
        <a class="comentarios" href="{{ mix.link }}" title="comentarios">{{ mix.comentarios }}</a>
    {% else %}
        <a class="no-comentarios" href="{{ mix.link }}" title="comentarios">{{ mix.comentarios }}</a>
    {% endif %}
    </td>
    </tr>
{% empty %}
    <div class="mensaje">Sin resultados.</div>
{% endfor %}

{% if stats %}
<tr><td></td><td><hr/></td></tr>
<tr>
    <td></td>
    <td>
    <table width="100%">
    <tr>
        <td>
        <ul>
            <li>Preguntas: {{ stats.preguntas }}</li>
            <ul>
            <li>Clics en preguntas: {{ stats.clics_p }}</li>
            <li>Clics por pregunta: {{ stats.clics_pp }}</li>
            <li>Respuestas: {{ stats.respuestas }}</li>
            <li>Respuestas por pregunta: {{ stats.rpp }}</li>
            </ul>
        </ul>
        </td>
        <td>
        <ul>
            <li>Enlaces: {{ stats.enlaces }}</li>
            <ul>
            <li>Clics en enlaces: {{ stats.clics_e }}</li>
            <li>Clics por enlace: {{ stats.clics_pe }}</li>
            <li>Comentarios: {{ stats.comentarios }}</li>
            <li>Comentarios por enlace: {{ stats.cpe }}</li>
            </ul>
        </ul>
        </td>
        <td valign="top">
        <ul>
            <li>Usuarios: {{ stats.usuarios }}</li>
            <ul>
            <li>Usuario más valorado: {{ stats.top_user|autor }}</li>
            <li>Seguimientos: {{ stats.seguimientos }}</li>
            </ul>
        </ul>
        </td>
    </tr>
    </table>
    </td>
</tr>
{% endif %}

</table>
</div>
{% include "pie.html" %}
