{% include "cabecera.html" %}
<div class="preguntas">

{% if error %}
<center>
    <h1>{{ error|safe|urlize }}</h1>
</center>
{% else %}
<table align="center">
{% for mix in mixto %}
    <tr>
    <td class="avatar">{{ mix.autor.email|avatar:40 }}</td>
    <td>
    <div class="info_respuesta_up">
        &nbsp; {{ mix.autor|autor }} |
        {{ mix.fecha|timesince|traducir }} |
        {{ mix.clicks }} clics
    </div>
    <div class="respuesta">
        {% if mix.tipo == 'pregunta' %}
            <div class='titulo'>
                <span>{{ mix.estado|estado_pregunta }}</span>
                <a href="{{ mix.link }}">{{ mix.titulo|safe }}</a>
            </div>
            {{ mix.descripcion|safe|truncatewords:35 }}
            {{ mix.key|ultimas_respuestas:urespuestas }}
        {% else %}
            {% if mix.tipo == 'imagen' %}
                <a href="{{ mix.link }}"><img class="icono" src="/img/photo.png" alt="imagen"/></a>
            {% endif %}
            {% if mix.tipo == 'youtube' %}
                <a href="{{ mix.link }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
            {% endif %}
            {% if mix.tipo == 'vimeo' %}
                <a href="{{ mix.link }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
            {% endif %}
            {% if mix.tipo == 'vhtml5' %}
                <a href="{{ mix.link }}"><img class="icono" src="/img/video.png" alt="v&iacute;deo"/></a>
            {% endif %}
            {{ mix.descripcion|safe|urlize }}
            - <a href="{{ mix.link }}">leer más</a>.
        {% endif %}
    </div>
    <div class="info_respuesta_down"></div>
    </td>
    <td class="col_info_mix">
    {% if mix.comentarios %}
        <a class="comentarios" href="{{ mix.link }}" title="comentarios">{{ mix.comentarios }}</a>
    {% else %}
        <a class="no-comentarios" href="{{ mix.link }}" title="comentarios">{{ mix.comentarios }}</a>
    {% endif %}
    </td>
    </tr>
{% endfor %}

{% if stats %}
<tr><td></td><td><hr/></td></tr>
<tr>
    <td></td>
    <td>{{ stats|show_stats }}</td>
</tr>
{% endif %}

</table>
{% endif %}

</div>
{% include "pie.html" %}
