{% include "cabecera.html" %}
<div class="preguntas">

<a name="buscador"></a>
<div id="cse" style="width: 100%;">Cargando...</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'es', style : google.loader.themes.MINIMALIST});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('012555462685872355777:lsfrysuzq4w');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.setAutoComplete(true);
    customSearchControl.draw('cse', options);
  }, true);
</script>

{% ifequal vista '404' %}
<center>
    {% ifequal cerror '503' %}
        <img src="/img/nuclear-explosion.gif" alt="explosi&oacute;n"/>
    {% endifequal %}
    <h1>{{ error|safe|urlize }}</h1>
</center>
{% else %}
<table width='100%'>
{% for mix in mixto %}
    <tr>
    <td class="avatar">{{ mix.autor.email|avatar:40 }}</td>
    <td>
    <div class="respuesta">
    {% ifequal mix.tipo 'pregunta' %}
        <div class='titulo'>
            <a href="{{ mix.link }}">{{ mix.titulo|safe }}</a>
            <span>{{ mix.estado|estado_pregunta }}</span>
        </div>
        {{ mix.descripcion|safe|truncatewords:35 }}
        {{ mix.key|ultimas_respuestas:urespuestas }}
    {% else %}
        {{ mix.descripcion|safe|urlize }}
        {% ifequal mix.tipo 'texto' %}
            - <a href="/e/{{ mix.key }}" target="_Blank">fuente original</a>.
        {% endifequal %}
    {% endifequal %}
    </div>
    <div class="info_respuesta_down">
        {{ mix.fecha|timesince|traducir }} |
        {{ mix.clicks }} clics |
        {{ mix.autor|autor }}
    </div>
    </td>
    <td width='110' valign="top">
    {% ifequal mix.tipo 'imagen' %}
        <img src="/img/photo.png" alt="imagen"/>
    {% endifequal %}
    {% ifequal mix.tipo 'youtube' %}
        <img src="/img/video.png" alt="v&iacute;deo"/>
    {% endifequal %}
    {% ifequal mix.tipo 'vimeo' %}
        <img src="/img/video.png" alt="v&iacute;deo"/>
    {% endifequal %}
    {% ifequal mix.tipo 'vhtml5' %}
        <img src="/img/video.png" alt="v&iacute;deo"/>
    {% endifequal %}
    
    {% if mix.comentarios %}
        <a href="{{ mix.link }}"><img src="/img/comments.png" alt="comentarios" title="deja un comentario"/></a>
        {{ mix.comentarios }}
    {% else %}
        <a href="{{ mix.link }}"><img src="/img/comment.png" alt="comentarios" title="deja un comentario"/></a>
    {% endif %}
    </tr>
{% empty %}
    <div class="mensaje">Sin resultados.</div>
{% endfor %}
</table>
{% endifequal %}

<br/><hr/><br/>

<table width='100%'>
<tr>
    <td valign="top">
    <a name="nueva-pregunta"></a>
    <h3>Pregunta:</h3>
    <ul>
        <li>Comprueba que la pregunta que quieres hacer no haya sido publicada previamente.</li>
        <li>Utiliza un <b>t&iacute;tulo</b> descriptivo.</li>
        <li>Cuanto m&aacute;s detallada sea la <b>descripci&oacute;n</b> de la pregunta, m&aacute;s f&aacute;cil y r&aacute;pido te contestar&aacute;n. No olvides decir qu&eacute; <b>versi&oacute;n de Ubuntu</b> est&aacute;s usando.</li>
        <li>Repasa la ortograf&iacute;a.</li>
        <li>Se te notificar&aacute; por email la primera respuesta.</li>
    </ul>
    </td>
    <td valign="top">
    <div class="titulo">¿Qu&eacute; quieres publicar?</div>
    <form name="publicar" action="/" method="post">
        <input type="radio" name="tipo" value="pregunta" onchange="cambio_publicar()"/>Una pregunta.
        <input type="radio" name="tipo" value="enlace" onchange="cambio_publicar()"/>Un enlace.
        <br/><br/>
        <input type="hidden" name="url" value=""/>
        <input type="hidden" name="descripcion" value=""/>
        <input id="titulo" type="text" name="titulo" size="50" maxlength="100" value=""/>
        <textarea name="contenido" rows="6" cols="60"></textarea>
        <br/>
    {% if formulario %}
        <input type="checkbox" name="anonimo"/>An&oacute;nimo
    {% else %}
        {{ captcha|safe }}
    {% endif %}
        <input type="button" class="boton" name="enviar" value="enviar" onclick="enviar_publicar()"/>
    </form>
    </td>
    <td valign="top">
    <a name="nuevo-enlace"></a>
    <h3>Enlace:</h3>
    <ul>
        <li>Una noticia, un art&iacute;culo o un blog.</li>
        <li>Un v&iacute;deo de <a href="http://www.youtube.com" target="_Blank">youtube</a>, <a href="http://www.vimeo.com" target="_Blank">vimeo</a> o incluso v&iacute;deos en formato OGM o WEB.</li>
        <li>Una imagen o una captura de pantalla, puedes usar el servicio <a href="http://www.imgur.com" target="_Blank">imgur</a> para mayor comodidad.</li>
    </ul>
    </td>
</tr>
</table>

</div>
{% include "pie.html" %}
