{% include "cabecera.html" %}
<div class="preguntas">

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'es'}
</script>

<table width="100%">
<tr>
<td valign="top">
    <div class="avatar">{{ pregunta.autor.email|avatar }}<br/>{{ pregunta.puntos|puntos }}</div>
</td>
<td valign="top">
{% if modificar %}
    <div class="comentario">
        <div class="titulo">Editar pregunta:</div>
        <form name="pregunta" action="/mod_p" method="post">
        <input type="hidden" name="id" value="{{ pregunta.key }}"/>
        <input class="titulo" type="text" name="titulo" size="50" maxlength="100" value="{{ pregunta.titulo|safe }}"/>
        <textarea name="contenido" rows="6" cols="60">{{ pregunta.contenido|safe }}</textarea>
        <br/>
        Etiquetas: <input type="text" name="tags" size="30" maxlength="100" value="{{ pregunta.tags }}"/>
        Estado de la pregunta: <select name="estado">
        {% ifequal pregunta.estado 0 %}
            <option value="0" selected="selected">nueva</option>
        {% else %}
            <option value="0">nueva</option>
        {% endifequal %}
        {% ifequal pregunta.estado 1 %}
            <option value="1" selected="selected">incompleta</option>
        {% else %}
            <option value="1">incompleta</option>
        {% endifequal %}
        {% ifequal pregunta.estado 2 %}
            <option value="2" selected="selected">abierta</option>
        {% else %}
            <option value="2">abierta</option>
        {% endifequal %}
        {% ifequal pregunta.estado 3 %}
            <option value="3" selected="selected">parcialmente solucionada</option>
        {% else %}
            <option value="3">parcialmente solucionada</option>
        {% endifequal %}
        {% ifequal pregunta.estado 10 %}
            <option value="10" selected="selected">solucionada</option>
        {% else %}
            <option value="10">solucionada</option>
        {% endifequal %}
        {% ifequal pregunta.estado 11 %}
            <option value="11" selected="selected">pendiente de confirmaci&oacute;n</option>
        {% else %}
            <option value="11">pendiente de confirmaci&oacute;n</option>
        {% endifequal %}
        {% ifequal pregunta.estado 12 %}
            <option value="12" selected="selected">duplicada</option>
        {% else %}
            <option value="12">duplicada</option>
        {% endifequal %}
        {% ifequal pregunta.estado 13 %}
            <option value="13" selected="selected">erronea</option>
        {% else %}
            <option value="13">erronea</option>
        {% endifequal %}
        {% ifequal pregunta.estado 14 %}
            <option value="14" selected="selected">antigua</option>
        {% else %}
            <option value="14">antigua</option>
        {% endifequal %}
        </select>
        <input type="submit" class="boton" value="modificar">
        </form>
    </div>
{% else %}
    <div class="info_respuesta_up">
        &nbsp; {{ pregunta.autor|autor }} |
        {{ pregunta.os|muestra_os }} |
        {{ pregunta.creado|date:"d/m/Y H:i" }} |
        {{ pregunta.respuestas }} respuestas |
        {{ pregunta.visitas }} clics
    </div>
    <div class="comentario">
        <div class="titulo">
            <span>{{ pregunta.estado|estado_pregunta }}</span>
            <a href="/question/{{ pregunta.key }}">{{ pregunta.titulo|safe }}</a>
        </div>
        {{ pregunta.contenido|safe|linebreaksbr|fuckcode }}
    </div>
    <div class="info_respuesta_down">
        <a class="seguimiento" href="/ayuda#seguimiento">Seguimientos</a>: {{ pregunta.seguimientos }}
    </div>
{% endif %}
</td>
<td valign="top" width="120">
    {% if not usuario or usuario != pregunta.autor %}
    {% if es_seguidor %}
        <div class="boton"><a href="/seguir/{{ pregunta.key }}">dejar de seguir</a></div>
    {% else %}
        <div class="b_verde"><a href="/seguir/{{ pregunta.key }}">seguir</a></div>
    {% endif %}
    {% endif %}
    {% if editar %}
        <div class="boton"><a href="/question/{{ pregunta.key }}?modificar=ok">modificar</a></div>
    {% endif %}
    {% if administrador %}
        <div class="b_rojo"><a href="#" onclick="borrar_pregunta('{{ pregunta.key }}')">borrar</a></div>
    {% endif %}
</td>
</tr>

{{ respuestas|respuestas_destacadas }}

{% for respuesta in respuestas %}
<tr>
{% if respuesta.valoracion >= -1 and respuesta.valoracion <= 1 %}
    <td class="valoracion"><a title="valoración" href="#{{ forloop.counter }}" onclick="ayuda_votar()">{{ respuesta.valoracion }}</a></td>
{% else %}
    {% if respuesta.valoracion > 1 %}
    <td class="v_positiva"><a title="valoración" href="#{{ forloop.counter }}" onclick="ayuda_votar()">{{ respuesta.valoracion }}</a></td>
    {% else %}
    <td class="v_negativa"><a title="valoración" href="#{{ forloop.counter }}" onclick="ayuda_votar()">{{ respuesta.valoracion }}</a></td>
    {% endif %}
{% endif %}
    <td valign="top">
    <div class="info_respuesta_up">
        <a name="{{respuesta.key}}"></a>
        <a class="comentario" name="{{ forloop.counter }}" href="/question/{{pregunta.key}}#{{ forloop.counter }}">@{{ forloop.counter }}</a>
        &nbsp; {{ respuesta.autor|autor }} |
        {{ respuesta.os|muestra_os }} |
        {{ respuesta.fecha|timesince|traducir }}
    </div>
{% if respuesta.valoracion >= -1 %}
    <div class="respuesta">
{% else %}
    <div class="respuesta_n">
{% endif %}
    {% if modificar %}
    {% if administrador %}
        <form name="respuesta{{ forloop.counter }}" action="/mod_r" method="post">
        <input type="hidden" name="id_pregunta" value="{{ pregunta.key }}"/>
        <input type="hidden" name="id_respuesta" value="{{ respuesta.key }}"/>
        <textarea name="contenido" rows="6" cols="60">{{ respuesta.contenido|safe }}</textarea>
        <input type="submit" class="boton" value="modificar">
        </form>
    {% else %}
        {{ respuesta.contenido|safe|linebreaksbr|fuckcode }}
    {% endif %}
    {% else %}
        {{ respuesta.contenido|safe|linebreaksbr|fuckcode }}
    {% endif %}
    </div>
    <div class="info_respuesta_down">
        Votar:
        <a class="negativo" title="voto negativo" href="/votar/{{respuesta.key}}/0">-1</a>
        <a class="positivo" title="voto positivo" href="/votar/{{respuesta.key}}/1">+1</a>
    </div>
</td>
<td valign="top">
    {% if administrador %}
        <div class="b_rojo"><a href="#" onclick="borrar_respuesta('{{pregunta.key}}', '{{respuesta.key}}')">borrar</a></div>
    {% else %}
        {{ respuesta.autor.email|avatar:40 }}
    {% endif %}
</td>
</tr>
{% endfor %}

{% if respuestas %}
<tr>
    <td></td>
    <td align="center">
        <div class="mensaje">¿Te pareció útil? <a href="#compartir">pulsa el botón +1 o compártelo en Facebook o twitter</a>. No olvides votar las respuestas.</div>
    </td>
    <td></td>
</tr>
<tr>
    <td><a name="compartir"></a></td>
    <td>
    <ul class="social">
        <li><iframe src="http://www.facebook.com/plugins/like.php?href={{ pregunta.get_full_link|urlencode }}&amp;show_faces=false" scrolling="no" frameborder="0" style="height: 40px; width: 400px" allowTransparency="true"></iframe></li>
        <li><g:plusone size="medium"></g:plusone></li>
        <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="es">Tweet</a></li>
    </ul>
    </td>
</tr>
{% else %}
<tr>
    <td align="right" valign="top"><img src="/img/gatito-avatar.png" alt="gatito" /></td>
    <td valign="top">
    <div class="mensaje">
    Cada vez que una pregunta se queda sin respuesta, Dios mata un gatito.
    <br/>
    Por favor, piensa en los gatitos!
    </div>
    </td>
</tr>
{% endif %}

<tr><td></td><td><hr/></td></tr>

<tr>
    <td align="right" valign="top"><br/>{{ usuario.email|avatar:40 }}</td>
    <td colspan="2" valign="top">
    <div class="formulario">
    <form name="respuesta" action="/add_r" method="post">
    <table width="100%">
    <tr>
    <td valign="top">
    <input type="hidden" name="id_pregunta" value="{{ pregunta.key }}"/>
    <textarea name="contenido" rows="6" cols="60"></textarea>
    <br/>{{ captcha|safe }}
{% if formulario %}
    <input type="checkbox" name="anonimo"/>An&oacute;nimo<br/>
{% endif %}
    <input type="button" class="boton" value="responder" onclick="enviar_respuesta()"/>
    </td>
    <td valign="top">
    <ul>
        <li>Utiliza un lenguaje claro y conciso.</li>
        <li>Respeta a los demás.</li>
        <li>Repasa la ortografía.</li>
        <li>Para poner <b>código</b>: [code]el-codigo[/code]</li>
        <li>Para poner un texto en <b>negrita</b>: [b]el-texto[/b]</li>
        <li>Para poner un texto en <b>cursiva</b>: [i]el-texto[/i]</li>
        <li>Para poner un texto <b>subrayado</b>: [u]el-texto[/u]</li>
    </ul>
    </td>
    </tr>
    </table>
    </form>
    </div>
    </td>
</tr>
{% if relacionadas %}
<tr>
    <td></td>
    <td>
    <b>Informaci&oacute;n relacionada: {{ pregunta.tags|tags }}.</b>
    <ul class="tags">
    {% for rel in relacionadas %}
        <li><a href="{{ rel.url }}">{{ rel.text|truncatewords:25 }}</a></li>
    {% endfor %}
    </ul>
    </td>
</tr>
{% endif %}
</table>

</div>
{% include "pie.html" %}
