{% include "cabecera.html" %}
<div class="preguntas">

{{ datos_paginacion|paginar }}

<table align="center">
{% for preg in preguntas %}
    <tr>
    <td class="avatar">{{ preg.autor.email|avatar:40 }}</td>
    <td>
    <div class="info_respuesta_up">
        &nbsp; {{ preg.autor|autor }} |
        {{ preg.creado|timesince|traducir }} |
        {{ preg.visitas }} clics
    </div>
    <div class="respuesta">
        <div class='titulo'>
            <span>{{ preg.estado|estado_pregunta }}</span>
            <a href="/question/{{ preg.key }}">{{ preg.titulo|safe }}</a>
        </div>
        {{ preg.contenido|safe|truncatewords:35 }}
    </div>
    <div class="info_respuesta_down"></div>
    </td>
    <td class="col_info_mix">
    {% if preg.respuestas %}
        <a class="comentarios" href="/question/{{ preg.key }}" title="respuestas">{{ preg.respuestas }}</a>
    {% else %}
        <a class="no-comentarios" href="/question/{{ preg.key }}" title="respuestas">{{ preg.respuestas }}</a>
    {% endif %}
    </td>
    </tr>
{% empty %}
    <div class="mensaje">Sin resultados.</div>
{% endfor %}
</table>

{{ datos_paginacion|paginar }}

{% if stats %}
<hr/>
<table width="100%">
<tr>
    <td>
    <ul>
        <li>Preguntas: {{ stats.preguntas }}</li>
        <ul>
        <li>Clics en preguntas: {{ stats.clics_p }}</li>
        <li>Clics por pregunta: {{ stats.clics_pp }}</li>
        <li>Respuestas: {{ stats.respuestas }}</li>
        <li>Respuestas por pregunta: {{ stats.rpp }}</li>
        </ul>
    </ul>
    </td>
    <td>
    <ul>
        <li>Enlaces: {{ stats.enlaces }}</li>
        <ul>
        <li>Clics en enlaces: {{ stats.clics_e }}</li>
        <li>Clics por enlace: {{ stats.clics_pe }}</li>
        <li>Comentarios: {{ stats.comentarios }}</li>
        <li>Comentarios por enlace: {{ stats.cpe }}</li>
        </ul>
    </ul>
    </td>
    <td valign="top">
    <ul>
        <li>Usuarios: {{ stats.usuarios }}</li>
        <ul>
        <li>Usuario más valorado: {{ stats.top_user|autor }}</li>
        <li>Seguimientos: {{ stats.seguimientos }}</li>
        </ul>
    </ul>
    </td>
</tr>
</table>
{% endif %}

</div>
{% include "pie.html" %}
