{% include "cabecera.html" %}
<div class="preguntas">

<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'es'}
</script>

{% if modificar %}
    <div class="pregunta">
        <div class="titulo">Editar pregunta:</div>
        <form name="pregunta" action="/mod_p" method="post">
        <input type="hidden" name="id" value="{{ pregunta.key }}"/>
        <input id="titulo" type="text" name="titulo" size="50" maxlength="100" value="{{ pregunta.titulo|safe }}"/>
        <textarea name="contenido" rows="6" cols="60">{{ pregunta.contenido|safe }}</textarea>
        <br/>
        Etiquetas: <input type="text" name="tags" size="30" maxlength="100" value="{{ pregunta.tags }}"/>
        Estado de la pregunta: <select name="estado">
        {% ifequal pregunta.estado 0 %}
            <option value="0" selected="selected">nueva</option>
        {% else %}
            <option value="0">nueva</option>
        {% endifequal %}
        {% ifequal pregunta.estado 1 %}
            <option value="1" selected="selected">incompleta</option>
        {% else %}
            <option value="1">incompleta</option>
        {% endifequal %}
        {% ifequal pregunta.estado 2 %}
            <option value="2" selected="selected">abierta</option>
        {% else %}
            <option value="2">abierta</option>
        {% endifequal %}
        {% ifequal pregunta.estado 3 %}
            <option value="3" selected="selected">parcialmente solucionada</option>
        {% else %}
            <option value="3">parcialmente solucionada</option>
        {% endifequal %}
        {% ifequal pregunta.estado 10 %}
            <option value="10" selected="selected">solucionada</option>
        {% else %}
            <option value="10">solucionada</option>
        {% endifequal %}
        {% ifequal pregunta.estado 11 %}
            <option value="11" selected="selected">pendiente de confirmaci&oacute;n</option>
        {% else %}
            <option value="11">pendiente de confirmaci&oacute;n</option>
        {% endifequal %}
        {% ifequal pregunta.estado 12 %}
            <option value="12" selected="selected">duplicada</option>
        {% else %}
            <option value="12">duplicada</option>
        {% endifequal %}
        {% ifequal pregunta.estado 13 %}
            <option value="13" selected="selected">erronea</option>
        {% else %}
            <option value="13">erronea</option>
        {% endifequal %}
        {% ifequal pregunta.estado 14 %}
            <option value="14" selected="selected">antigua</option>
        {% else %}
            <option value="14">antigua</option>
        {% endifequal %}
        </select>
        <input type="submit" class="boton" value="modificar">
        </form>
    </div>
    <br/>
{% else %}
<table>
<tr>
<td valign="top">
    <div class="avatar">{{ pregunta.autor.email|avatar }}<br/>{{ pregunta.puntos|puntos }}</div>
</td>
<td width="100%">
    <form name="pregunta" action="/mod_ep" method="post">
    <input type="hidden" name="id" value="{{ pregunta.key }}"/>
    <div class="pregunta">
    <div class="titulo">
        <a href="/question/{{ pregunta.key }}">{{ pregunta.titulo|safe }}</a>
        <span>{{ pregunta.estado|estado_pregunta }}</span>
    </div>
    {{ pregunta.contenido|safe|linebreaksbr|urlizetrunc:35 }}
    <br/>
    <span>
        {{ pregunta.respuestas }} respuestas |
        {{ pregunta.visitas }} clics |
        {{ pregunta.creado|date:"d/m/Y H:i" }} |
        etiquetas: {{ pregunta.tags|tags }} |
        {{ pregunta.os|muestra_os }} |
        {{ pregunta.autor|autor }}
        {% if editar %}
            | <a href="/question/{{ pregunta.key }}?modificar=ok">modificar</a>
        {% endif %}
        {% if administrador %}
            | <a href="#" onclick="borrar_pregunta('{{ pregunta.key }}')">borrar</a>
        {% endif %}
    </span>
    </div>
    <ul class="social">
        <li><g:plusone size="medium"></g:plusone></li>
            <li><a title="Publicar en Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count" data-locale="es"></a></li>
            <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="neorazorx" data-lang="es">Tweet</a></li>
            <li><div class="identica" style="padding: 3px; padding-bottom: 2px;background-color: white;
border: 1px outset #ccc;"><a href="javascript:(function(){var%20d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='http://identi.ca//index.php?action=bookmarklet',l=d.location,e=encodeURIComponent,g=f+'&status_textarea=%E2%80%9C'+((e(s))?e(s):e(document.title))+'%E2%80%9D%20%E2%80%94%20'+l.href;function%20a(){if(!w.open(g,'t','toolbar=0,resizable=0,scrollbars=1,status=1,width=450,height=200')){l.href=g;}}a();})()"><img src="/img/identica.png" alt="identica"/></a></div></li>
            <li><iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=true&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe></li>
    </ul>
    </form>
</td>
</tr>
</table>
{% endif %}


<table width="100%">
{{ respuestas|respuestas_destacadas }}

{% for respuesta in respuestas %}
<tr>
<td class="avatar">{{ respuesta.autor.email|avatar:40 }}</td>
<td valign="top">
    {% if respuesta.destacada %}
        <div class="respuesta_d2">
    {% else %}
        <div class="respuesta">
    {% endif %}
    
    <a name="{{respuesta.key}}"></a>
    
    {% if modificar %}
    {% if administrador %}
        <form name="respuesta{{ forloop.counter }}" action="/mod_r" method="post">
        <input type="hidden" name="id_pregunta" value="{{ pregunta.key }}"/>
        <input type="hidden" name="id_respuesta" value="{{ respuesta.key }}"/>
        <textarea name="contenido" rows="6" cols="60">{{ respuesta.contenido|safe }}</textarea>
        <input type="submit" class="boton" value="modificar">
        </form>
    {% else %}
        <a class="comentario" name="{{ forloop.counter }}" href="/question/{{pregunta.key}}#{{ forloop.counter }}">#{{ forloop.counter }}</a>
        {{ respuesta.contenido|safe|linebreaksbr|urlize }}
    {% endif %}
    {% else %}
        <a class="comentario" name="{{ forloop.counter }}" href="/question/{{pregunta.key}}#{{ forloop.counter }}">#{{ forloop.counter }}</a>
        {{ respuesta.contenido|safe|linebreaksbr|urlize }}
    {% endif %}
    
    </div>
    
    <div class="info_respuesta_down">
        {{ respuesta.fecha|timesince|traducir }} |
        {{ respuesta.os|muestra_os }} |
        {{ respuesta.autor|autor }}
    {% if editar %}
        {% if respuesta.destacada %}
            | <a href="/dest_r?id={{pregunta.key}}&r={{respuesta.key}}"><s>destacar</s></a>
        {% else %}
            | <a href="/dest_r?id={{pregunta.key}}&r={{respuesta.key}}">destacar</a>
        {% endif %}
        
        {% if administrador %}
            | <a href="#" onclick="borrar_respuesta('{{pregunta.key}}', '{{respuesta.key}}')">borrar</a>
        {% endif %}
    {% endif %}
    </div>
</td>
</tr>
{% empty %}
<tr>
<td class="avatar"><img src="/img/gatito-avatar.png" alt="gatito" /></td>
<td valign="top">
    <div class="mensaje">
    Cada vez que una pregunta se queda sin respuesta, Dios mata un gatito.
    <br/>
    Por favor, piensa en los gatitos!
    </div>
</td>
</tr>
{% endfor %}
</table>

<hr/>

<table width="100%">
<tr>
<td class="avatar"><br/>{{ usuario.email|avatar:40 }}</td>
<td>
    <div class="formulario">
    <form name="respuesta" action="/add_r" method="post">
    <input type="hidden" name="id_pregunta" value="{{ pregunta.key }}"/>
    <textarea name="contenido" rows="6" cols="60">Utiliza un lenguaje claro y conciso.</textarea>
    <br/>{{ captcha|safe }}
{% if formulario %}
    <input type="checkbox" name="anonimo"/>An&oacute;nimo
{% endif %}
    <input type="button" class="boton" value="responder" onclick="enviar_respuesta()"/>
    </form>
    </div>
</td>
<td width="250" valign="top">
    <br/><div class="mensaje">¿T&uacute; tambi&eacute;n tienes alguna pregunta? <a href="/#buscador">busca</a> o usa el formulario de <a href="/#nueva-pregunta">nueva pregunta</a>.</div>
</td>
</tr>
{% if relacionadas %}
<tr>
    <td></td>
    <td>
    <b>Informaci&oacute;n relacionada: {{ pregunta.tags|tags }}.</b>
    <ul>
    {% for rel in relacionadas %}
        <li><a href="{{ rel.link }}">{{ rel.title|truncatewords:30 }}</a></li>
    {% endfor %}
    </ul>
    </td>
</tr>
{% endif %}
</table>

</div>
{% include "pie.html" %}
