<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ title }} respuestas</title>
        <description>{{ description }}</description>
        <link>{{ domain }}</link>
{% for respuesta in respuestas %}
        <item>
    {% if respuesta.autor %}
            <title>{{ respuesta.fecha|date:"Y-m-d H:i" }} - {{ respuesta.autor.nickname|cortamail }} responde:</title>
    {% else %}
            <title>{{ respuesta.fecha|date:"Y-m-d H:i" }} - anonimo responde:</title>
    {% endif %}
            <link>{{ domain }}{{ respuesta.get_link }}</link>
            <guid>{{ domain }}{{ respuesta.get_link }}</guid>
            <pubDate>{{ respuesta.fecha|date:"r" }}</pubDate>
            <description>{{ respuesta.contenido|safe|truncatewords:50 }}</description>
        </item>
{% endfor %}
{% for coment in comentarios %}
        <item>
    {% if coment.autor %}
            <title>{{ coment.fecha|date:"Y-m-d H:i" }} - {{ coment.autor.nickname|cortamail }} comenta:</title>
    {% else %}
            <title>{{ coment.fecha|date:"Y-m-d H:i" }} - anonimo comenta:</title>
    {% endif %}
            <link>{{ domain }}{{ coment.get_link }}</link>
            <guid>{{ domain }}{{ coment.get_link }}</guid>
            <pubDate>{{ coment.fecha|date:"r" }}</pubDate>
            <description>{{ coment.contenido|safe|truncatewords:50 }}</description>
        </item>
{% endfor %}
    </channel>
</rss>
