<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ title }}</title>
        <description>{{ description }}</description>
        <link>{{ domain }}</link>
{% for p in portada %}
        <item>
        {% if p.tipo == 'pregunta' %}
            <title>{{ p.titulo|safe }}</title>
            <link>{{ domain }}{{ p.link }}</link>
            <guid>{{ domain }}{{ p.link }}</guid>
            <pubDate>{{ p.fecha|date:"r" }}</pubDate>
            <description>
                Estado: {{ p.estado|estado_pregunta }}.
                &lt;br/&gt;&lt;br/&gt;
                {{ p.descripcion|safe|truncatewords:50 }}
                &lt;br/&gt;&lt;br/&gt;
                {{ p.comentarios }} respuestas
            </description>
        {% else %}
            <title>{{ p.descripcion|safe|truncatewords:10 }}</title>
            <link>{{ domain }}{{ p.link }}</link>
            <guid>{{ domain }}{{ p.link }}</guid>
            <pubDate>{{ p.fecha|date:"r" }}</pubDate>
            <description>
                {{ p.descripcion|safe }}
                &lt;br/&gt;&lt;br/&gt;
                {{ p.comentarios }} comentarios
            </description>
        {% endif %}
        </item>
{% endfor %}
    </channel>
</rss>
