<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>UbuntuFAQ</title>
        <description>Sitio web de preguntas y respuestas rapidas sobre ubuntu.</description>
        <link>http://www.ubufaq.com</link>
{% for enlace in enlaces %}
        <item>
            <title>{{ enlace.descripcion|safe|truncatewords:10 }}</title>
            <link>http://www.ubufaq.com/story/{{ enlace.key }}</link>
            <guid>http://www.ubufaq.com/story/{{ enlace.key }}</guid>
            <pubDate>{{ enlace.creado|date:"r" }}</pubDate>
            <description>
                {{ enlace.descripcion|safe }}
                &lt;br/&gt;&lt;br/&gt;
                {{ enlace.comentarios }} comentarios
            </description>
        </item>
{% endfor %}
{% for pregunta in preguntas %}
        <item>
            <title>{{ pregunta.titulo|safe }}</title>
            <link>http://www.ubufaq.com/question/{{ pregunta.key }}</link>
            <guid>http://www.ubufaq.com/question/{{ pregunta.key }}</guid>
            <pubDate>{{ pregunta.creado|date:"r" }}</pubDate>
            <description>
                {{ pregunta.contenido|safe|truncatewords:50 }}
                &lt;br/&gt;&lt;br/&gt;
                {{ pregunta.respuestas }} respuestas
            </description>
        </item>
{% endfor %}
    </channel>
</rss>
