{% include "cabecera.html" %}
<div class="preguntas">
<table width="100%">
<tr>
    <td valign="top">
    {% if tag %}
        {% if buscando %}
        <div class="titulo">Informaci&oacute;n relacionada con la búsqueda: {{ tag }}</div>
        {% else %}
        <div class="titulo">Informaci&oacute;n relacionada con el tag: {{ tag|tag }}</div>
        {% endif %}
        <br/>
        {% for rel in relacionadas %}
            <div class="tweet">
                <a href="{{ rel.url }}">{{ rel.text|truncatewords:30|resalta_tag:tag|capfirst }}</a>
                <br/>
                <span>{{ rel.fecha|timesince|traducir }} | {{ rel.clics }} clics</span>
            </div>
        {% empty %}
            <div class="mensaje">Sin resultados.</div>
        {% endfor %}
    {% endif %}
    
    {% if alltags %}
    <br/>
    <div class="pregunta">
        <div class="titulo">Todas las etiquetas:</div>
        {{ alltags|alltags }}
    </div>
    {% endif %}
    
    {% if buscando %}
    <br/>
    <div class="pregunta">
        <div class="titulo">¿No encuentras lo que buscas?</div>
        <div id="cse" style="width: 100%;">Loading</div>
        <script src="http://www.google.es/jsapi" type="text/javascript"></script>
        <script type="text/javascript"> 
          google.load('search', '1', {language : 'es', style : google.loader.themes.MINIMALIST});
          google.setOnLoadCallback(function() {
            var customSearchControl = new google.search.CustomSearchControl('012555462685872355777:lsfrysuzq4w');
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.setAutoComplete(true);
            customSearchControl.draw('cse', options);
          }, true);
        </script>
    </div>
    {% endif %}
    </td>
    <td valign="top" align="center" width="130">
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-7967042768660878";
            /* ubufaq-vertical */
            google_ad_slot = "8989403483";
            google_ad_width = 120;
            google_ad_height = 600;
            //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </td>
</tr>
</table>
</div>
{% include "pie.html" %}
