{% include "cabecera.html" %}
<div class="preguntas">

{% if tag %}
    {% if buscando %}
        <div class="titulo">Informaci&oacute;n relacionada con la búsqueda: {{ tag }}</div>
    {% else %}
        <div class="titulo">Informaci&oacute;n relacionada con el tag: {{ tag|tag }}</div>
    {% endif %}
    <br/>
    {% for rel in relacionadas %}
        <div class="tweet">
            <a href="{{ rel.url }}">{{ rel.text|truncatewords:30|resalta_tag:tag|capfirst }}</a>
            <br/>
            <span>{{ rel.clics }} clics</span>
        </div>
    {% empty %}
        <div class="mensaje">Sin resultados.</div>
    {% endfor %}
{% endif %}

{% if alltags %}
    <br/>
    <hr/>
    <div class="pregunta">
        <div class="titulo">Todas las etiquetas:</div>
        {{ alltags|alltags }}
    </div>
{% endif %}

<div id="cse" style="width: 100%;">Loading</div>
    <script src="http://www.google.es/jsapi" type="text/javascript"></script>
    <script type="text/javascript"> 
      google.load('search', '1', {language : 'es', style : google.loader.themes.MINIMALIST});
      google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('012555462685872355777:lsfrysuzq4w');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        var options = new google.search.DrawOptions();
        options.setAutoComplete(true);
        customSearchControl.draw('cse', options);
      }, true);
</script>

</div>
{% include "pie.html" %}
