{% include "cabecera.html" %}
<div class="preguntas">

<div id="cse" style="width: 100%;">Cargando...</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'es', style : google.loader.themes.MINIMALIST});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('012555462685872355777:lsfrysuzq4w');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.setAutoComplete(true);
    customSearchControl.draw('cse', options);
  }, true);
</script>

{% if preguntas %}
    {{ preguntas|sin_solucionar:respuestas }}
{% else %}
    <div class="mensaje">Sin resultados.</div>
{% endif %}

<br/><hr/>

<table width='100%'>
<tr>
<td class="avatar"><img src="/img/gatito-avatar.png" alt="gatito" /></td>
<td valign="top">
    <div class="mensaje">
    Cada vez que una pregunta se queda sin respuesta, Dios mata un gatito.
    <br/>
    Por favor, piensa en los gatitos!
    </div>
</td>
</tr>
</table>

</div>
{% include "pie.html" %}
