{% spaceless %}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>http://www.ubufaq.com/ayuda</loc>
        <lastmod>{% now "Y-m-d" %}</lastmod>
        <changefreq>daily</changefreq>
        <priority>0.5</priority>
    </url>
{% for pregunta in preguntas %}
    <url>
        <loc>http://www.ubufaq.com/question/{{ pregunta.key }}</loc>
        <lastmod>{{ pregunta.fecha|date:"Y-m-d" }}</lastmod>
        <changefreq>always</changefreq>
        <priority>0.9</priority>
    </url>
{% endfor %}
{% for enlace in enlaces %}
    <url>
        <loc>http://www.ubufaq.com/story/{{ enlace.key }}</loc>
        <lastmod>{{ enlace.fecha|date:"Y-m-d" }}</lastmod>
        <changefreq>always</changefreq>
        <priority>0.9</priority>
    </url>
{% endfor %}
</urlset>
{% endspaceless %}
