{% include "cabecera.html" %}
<div class="preguntas">
<table width="100%">
<tr>
<td valign="top" width="165">
    <div class="avatar">
        {% if usuario == tusuario %}
            <a href="/ayuda#avatar">cambiar</a><br/>
        {% endif %}
        {{ tusuario.email|avatar }}
        <br/>
        {{ karma.puntos|puntos }}
        {% if karma.iterador < 7 %}
            calculando...
        {% endif %}
    </div>
    <br/><br/>
    Desde: {{ karma.fecha|date:"d/m/Y H:i" }}
    {% if usuario == tusuario %}
        {% if karma.emails %}
            <div class="b_rojo"><a href="/stop_emails">no recibir más emails</a></div>
        {% else %}
            <div class="b_verde"><a href="/stop_emails">recibir emails</a></div>
        {% endif %}
    {% endif %}
    <br/><br/>
    Preguntas: {{ karma.preguntas }}
    <br/>
    Respuestas: {{ karma.respuestas }}
    <br/>
    Enlaces: {{ karma.enlaces }}
    <br/>
    Comentarios: {{ karma.comentarios }}
    <br/>
    <div class="b_verde"><a href="{{ mi_perfil }}?rld=True">actualizar</a></div>
</td>
<td width="30"></td>
<td valign="top">
    <div class="comentario">
        Perfil de {{ tusuario.email|cortamail }} - {{ karma.puntos|karmsg }}
    </div>
    
    <br/>
    
    {% if usuario == tusuario %}
        {% if notis %}
        <div class="titulo"><a class="notificacion" href="#">Notificaciones</a></div>
        <ul>
        {% for noti in notis %}
            <li>
            <a href="/noti/{{ noti.key }}">{{ noti.fecha|timesince|traducir }}</a> -
            {{ noti.mensaje|safe }}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% else %}
        <div class="titulo"><span>Dejar un mensaje privado</span></div>
        {% if privado %}
            <div class="mensaje">Mensaje privado guardado correctamente.</div>
        {% endif %}
        <div class="formulario">
            <form name="privado" action="/noti/" method="POST">
            <input type="hidden" name="destinatario" value="{{ tusuario.email }}"/>
            <textarea name="texto"></textarea>
            <input type="button" class="boton" name="enviar" value="guardar" onclick="enviar_privado()"/>
            </form>
        </div>
    {% endif %}
    
    <br/>
    
    <div class="titulo"><span>&Uacute;ltimas preguntas</span></div>
    {% if preguntas %}
    <ul>
    {% for pregunta in preguntas %}
        <li>
        <a href="/question/{{ pregunta.key }}">{{ pregunta.creado|timesince|traducir }}</a> -
        {{ pregunta.titulo|safe }}
        [<b>{{ pregunta.estado|estado_pregunta }}</b>]
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <ul><li>Sin preguntas.</li></ul>
    {% endif %}
    
    <br/>
    
    <div class="titulo"><span>&Uacute;ltimas respuestas</span></div>
    {% if respuestas %}
    <ul>
    {% for respuesta in respuestas %}
        <li>
        <a href="/question/{{respuesta.id_pregunta}}#{{respuesta.key}}">{{ respuesta.fecha|timesince|traducir }}</a> -
        {{ respuesta.contenido|safe|truncatewords:50 }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <ul><li>Sin respuestas.</li></ul>
    {% endif %}

    <br/>

    <div class="titulo"><span>&Uacute;ltimos enlaces</span></div>
    {% if enlaces %}
    <ul>
    {% for enlace in enlaces %}
        <li>
        <a href="/story/{{ enlace.key }}">{{ enlace.creado|timesince|traducir }}</a> -
        {{ enlace.descripcion|safe }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <ul><li>Sin enlaces.</li></ul>
    {% endif %}

    <br/>

    <div class="titulo"><span>&Uacute;ltimos comentarios</span></div>
    {% if comentarios %}
    <ul>
    {% for coment in comentarios %}
        <li>
        <a href="/story/{{ coment.id_enlace }}#{{ coment.key }}">{{ coment.fecha|timesince|traducir }}</a> -
        {{ coment.contenido|safe }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <ul><li>Sin comentarios.</li></ul>
    {% endif %}
</td>
</tr>
</table>
</div>
{% include "pie.html" %}
